presets:
# Dependency overrides, one per branch
- labels:
    preset-override-deps: "master-release"
  env:
  - name: DEPENDENCIES
    valueFrom:
      configMapKeyRef:
        name: master-release-deps
        key: dependencies
- labels:
    preset-override-deps: "master-istio"
  env:
  - name: DEPENDENCIES
    valueFrom:
      configMapKeyRef:
        name: master-istio-deps
        key: dependencies
- labels:
    preset-override-deps: "release-1.20-release"
  env:
  - name: DEPENDENCIES
    valueFrom:
      configMapKeyRef:
        name: release-1.20-release-deps
        key: dependencies
- labels:
    preset-override-deps: "release-1.20-istio"
  env:
  - name: DEPENDENCIES
    valueFrom:
      configMapKeyRef:
        name: release-1.20-istio-deps
        key: dependencies
- labels:
    preset-override-deps: "release-1.21-release"
  env:
  - name: DEPENDENCIES
    valueFrom:
      configMapKeyRef:
        name: release-1.21-release-deps
        key: dependencies
- labels:
    preset-override-deps: "release-1.21-istio"
  env:
  - name: DEPENDENCIES
    valueFrom:
      configMapKeyRef:
        name: release-1.21-istio-deps
        key: dependencies
- labels:
    preset-override-deps: "release-1.22-release"
  env:
  - name: DEPENDENCIES
    valueFrom:
      configMapKeyRef:
        name: release-1.22-release-deps
        key: dependencies
- labels:
    preset-override-deps: "release-1.22-istio"
  env:
  - name: DEPENDENCIES
    valueFrom:
      configMapKeyRef:
        name: release-1.22-istio-deps
        key: dependencies
- labels:
    preset-override-deps: "release-1.23-release"
  env:
  - name: DEPENDENCIES
    valueFrom:
      configMapKeyRef:
        name: release-1.23-release-deps
        key: dependencies
- labels:
    preset-override-deps: "release-1.23-istio"
  env:
  - name: DEPENDENCIES
    valueFrom:
      configMapKeyRef:
        name: release-1.23-istio-deps
        key: dependencies
- labels:
    preset-override-deps: "release-1.24-release"
  env:
  - name: DEPENDENCIES
    valueFrom:
      configMapKeyRef:
        name: release-1.24-release-deps
        key: dependencies
- labels:
    preset-override-deps: "release-1.24-istio"
  env:
  - name: DEPENDENCIES
    valueFrom:
      configMapKeyRef:
        name: release-1.24-istio-deps
        key: dependencies
- labels:
    preset-override-deps: "release-1.25-release"
  env:
  - name: DEPENDENCIES
    valueFrom:
      configMapKeyRef:
        name: release-1.25-release-deps
        key: dependencies
- labels:
    preset-override-deps: "release-1.25-istio"
  env:
  - name: DEPENDENCIES
    valueFrom:
      configMapKeyRef:
        name: release-1.25-istio-deps
        key: dependencies
- labels:
    preset-override-deps: "release-1.26-release"
  env:
  - name: DEPENDENCIES
    valueFrom:
      configMapKeyRef:
        name: release-1.26-release-deps
        key: dependencies
- labels:
    preset-override-deps: "release-1.26-istio"
  env:
  - name: DEPENDENCIES
    valueFrom:
      configMapKeyRef:
        name: release-1.26-istio-deps
        key: dependencies
- labels:
    preset-override-deps: "release-1.27-release"
  env:
  - name: DEPENDENCIES
    valueFrom:
      configMapKeyRef:
        name: release-1.27-release-deps
        key: dependencies
- labels:
    preset-override-deps: "release-1.27-istio"
  env:
  - name: DEPENDENCIES
    valueFrom:
      configMapKeyRef:
        name: release-1.27-istio-deps
        key: dependencies
- labels:
    preset-override-deps: "release-1.28-release"
  env:
  - name: DEPENDENCIES
    valueFrom:
      configMapKeyRef:
        name: release-1.28-release-deps
        key: dependencies
- labels:
    preset-override-deps: "release-1.28-istio"
  env:
  - name: DEPENDENCIES
    valueFrom:
      configMapKeyRef:
        name: release-1.28-istio-deps
        key: dependencies
# Use private Envoy URL, with auth header
- labels:
    preset-override-envoy: "true"
  env:
  - name: ISTIO_ENVOY_BASE_URL
    value: https://storage.googleapis.com/istio-build-private/proxy

# netrc allows authenticating requests through things like curl, etc
- labels:
    preset-enable-netrc: "true"
  volumeMounts:
  - mountPath: /home/.netrc
    subPath: .netrc
    name: netrc
    readOnly: true
  volumes:
  - name: netrc
    secret:
      secretName: netrc-secret
      items:
      - key: secret
        path: .netrc
        mode: 0600
