*                                    @istio/wg-test-and-release-maintainers
/prow/                               @clarketm @cjwagner @fejta @Katharine @michelle192837 @chases2
/prow/config/                        @istio/wg-test-and-release-maintainers
/prow/config/jobs/test-infra.yaml    @clarketm @cjwagner @fejta @Katharine @michelle192837 @chases2
/prow/cluster/jobs/                  @istio/wg-test-and-release-maintainers
/prow/cluster/jobs/istio/test-infra/ @clarketm @cjwagner @fejta @Katharine @michelle192837 @chases2
/prow/genjobs/                       @istio/wg-test-and-release-maintainers
