*                                    @istio/wg-test-and-release-maintainers
.prow.yaml                           @istio/wg-test-and-release-maintainers @istio/wg-test-and-release-maintainers-operations
/authentikos/                        @istio/wg-test-and-release-maintainers @istio/wg-test-and-release-maintainers-operations
/prow/                               @istio/wg-test-and-release-maintainers-operations
/prow/config/                        @istio/wg-test-and-release-maintainers
/prow/config/jobs/test-infra.yaml    @istio/wg-test-and-release-maintainers @istio/wg-test-and-release-maintainers-operations
/prow/cluster/jobs/                  @istio/wg-test-and-release-maintainers
/prow/cluster/jobs/istio/test-infra/ @istio/wg-test-and-release-maintainers @istio/wg-test-and-release-maintainers-operations
/prow/genjobs/                       @istio/wg-test-and-release-maintainers
