*                                    @istio/wg-test-and-release-maintainers
.prow.yaml                           @cjwagner @fejta @michelle192837 @chases2 @istio/wg-test-and-release-maintainers
/authentikos/                        @clarketm @cjwagner @fejta @istio/wg-test-and-release-maintainers
/prow/                               @cjwagner @fejta @michelle192837 @chases2
/prow/config/                        @istio/wg-test-and-release-maintainers
/prow/config/jobs/test-infra.yaml    @cjwagner @fejta @michelle192837 @chases2 @istio/wg-test-and-release-maintainers
/prow/cluster/jobs/                  @istio/wg-test-and-release-maintainers
/prow/cluster/jobs/istio/test-infra/ @cjwagner @fejta @michelle192837 @chases2 @istio/wg-test-and-release-maintainers
/prow/genjobs/                       @istio/wg-test-and-release-maintainers
