  istio:
    git: https://github.com/istio-private/istio
    localpath: /home/prow/go/src/istio.io/istio
  api:
    git: https://github.com/istio/api
    auto: modules
  proxy:
    git: https://github.com/istio-private/proxy
    auto: deps
  ztunnel:
    git: https://github.com/istio/ztunnel
    auto: deps
  client-go:
    git: https://github.com/istio/client-go
    branch: release-$minor_version
  test-infra:
    git: https://github.com/istio/test-infra
    branch: master
  tools:
    git: https://github.com/istio/tools
    branch: release-$minor_version
  release-builder:
    git: https://github.com/istio/release-builder
    branch: release-$minor_version
