org: istio
repo: istio
support_release_branching: true

defaults:
  branches: [master]
  repo-allowlist: [istio]


transforms:

# istio/istio master build job(s) - postsubmit(s)
- env:
    DOCKER_HUB: gcr.io/istio-prow-build
    GCS_BUCKET: istio-private-build/dev
  labels:
    preset-enable-ssh: "true"
    preset-enable-gomod-netrc: "true"
    preset-override-deps: master-istio
  job-type: [postsubmit]
  job-allowlist: [release_istio_postsubmit]

# istio/istio master test jobs(s) - presubmit(s) and postsubmit(s)
- labels:
    preset-enable-ssh: "true"
    preset-enable-gomod-netrc: "true"
    preset-override-envoy: "true"
    preset-override-deps: master-istio
  job-type: [presubmit, postsubmit]
  job-denylist: [release_istio_postsubmit, release-notes_istio]
