defaults:
  branches: [master]
  repo-whitelist: [istio]


transforms:

# istio/istio master build job(s) - postsubmit(s)
- env:
    DOCKER_HUB: gcr.io/istio-prow-build
    GCS_BUCKET: istio-private-build/dev
  labels:
    preset-enable-ssh: "true"
    preset-override-deps: release-1.4-istio
  job-type: [postsubmit]
  job-whitelist: [release_istio_postsubmit]

# istio/istio master test jobs(s) - presubmit(s) and postsubmit(s)
- labels:
    preset-enable-ssh: "true"
    preset-override-envoy: "true"
    preset-override-deps: release-1.4-istio
  job-type: [presubmit, postsubmit]
  job-blacklist: [benchmark-report_istio_postsubmit, release_istio_postsubmit, cache-experiment_istio_postsubmit, cache-experiment_istio, update-ref-docs-dry-run_istio]
