org: istio
repo: proxy
support_release_branching: true

defaults:
  branches: [master]
  repo-allowlist: [proxy]
  modifier: master_priv


transforms:

# istio/proxy master test jobs(s) - presubmit(s)
- env:
    BAZEL_BUILD_RBE_INSTANCE: null
    ENVOY_REPOSITORY: https://github.com/istio-private/envoy
    ENVOY_PREFIX: envoy
  labels:
    preset-enable-netrc: "true"
  job-type: [presubmit]

# istio/proxy master build jobs(s) - postsubmit(s)
- env:
    BAZEL_BUILD_RBE_INSTANCE: null
    GCS_BUILD_BUCKET: istio-private-build
    GCS_ARTIFACTS_BUCKET: istio-private-artifacts
    DOCKER_REPOSITORY: istio-prow-build/envoy
    ENVOY_REPOSITORY: https://github.com/istio-private/envoy
    ENVOY_PREFIX: envoy
  labels:
    preset-enable-netrc: "true"
  job-type: [postsubmit]
  job-denylist: [update-istio_proxy]
