<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>hudson.diagnosis.ReverseProxySetupMonitor</string>
    <string>jenkins.security.s2m.MasterKillSwitchWarning</string>
    <string>GitHubHookRegisterProblemMonitor</string>
  </disabledAdministrativeMonitors>
  <version>2.32.3</version>
  <numExecutors>10</numExecutors>
  <mode>EXCLUSIVE</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="org.jenkinsci.plugins.GithubAuthorizationStrategy" plugin="github-oauth@0.25">
    <rootACL>
      <organizationNameList class="linked-list">
        <string>istio</string>
      </organizationNameList>
      <adminUserNameList class="linked-list">
        <string>sebastienvas</string>
        <string>lizan</string>
        <string>sven</string>
        <string>lryan</string>
        <string>istio/admins</string>
        <string>ayj</string>
        <string>kyessenov</string>
        <string>yutongz</string>
      </adminUserNameList>
      <authenticatedUserReadPermission>false</authenticatedUserReadPermission>
      <useRepositoryPermissions>true</useRepositoryPermissions>
      <authenticatedUserCreateJobPermission>false</authenticatedUserCreateJobPermission>
      <allowGithubWebHookPermission>true</allowGithubWebHookPermission>
      <allowCcTrayPermission>false</allowCcTrayPermission>
      <allowAnonymousReadPermission>false</allowAnonymousReadPermission>
      <allowAnonymousJobStatusPermission>true</allowAnonymousJobStatusPermission>
    </rootACL>
  </authorizationStrategy>
  <securityRealm class="org.jenkinsci.plugins.GithubSecurityRealm">
    <githubWebUri>https://github.com</githubWebUri>
    <githubApiUri>https://api.github.com</githubApiUri>
    <clientID>71d6f96f30736e9f278b</clientID>
    <clientSecret>{AQAAABAAAAAwXkphfdMKeTsumhj1KM3qIhnagbmXtSXts7IzhBhs7xDHYqLQ23QK59cxRDyJHTrMEinK8pjJzz2wCOQTns+L+w==}</clientSecret>
    <oauthScopes>read:org,user:email</oauthScopes>
  </securityRealm>
  <disableRememberMe>true</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud plugin="kubernetes@0.11">
      <name>local cluster</name>
      <defaultsProviderTemplate></defaultsProviderTemplate>
      <templates>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <inheritFrom></inheritFrom>
          <name>ubuntu-16-04</name>
          <privileged>false</privileged>
          <alwaysPullImage>false</alwaysPullImage>
          <instanceCap>10</instanceCap>
          <idleMinutes>0</idleMinutes>
          <label>ubuntu-16-04</label>
          <nodeSelector></nodeSelector>
          <customWorkspaceVolumeEnabled>false</customWorkspaceVolumeEnabled>
          <workspaceVolume class="org.csanchez.jenkins.plugins.kubernetes.volumes.workspace.EmptyDirWorkspaceVolume">
            <memory>false</memory>
          </workspaceVolume>
          <volumes/>
          <containers>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>jnlp</name>
              <image>gcr.io/istio-testing/ubuntu-16-04-slave:latest</image>
              <privileged>true</privileged>
              <alwaysPullImage>true</alwaysPullImage>
              <workingDir>/home/jenkins</workingDir>
              <command></command>
              <args>${computer.jnlpmac} ${computer.name}</args>
              <ttyEnabled>true</ttyEnabled>
              <resourceRequestCpu>500m</resourceRequestCpu>
              <resourceRequestMemory>512Mi</resourceRequestMemory>
              <resourceLimitCpu>2000m</resourceLimitCpu>
              <resourceLimitMemory>8Gi</resourceLimitMemory>
              <envVars>
                <org.csanchez.jenkins.plugins.kubernetes.ContainerEnvVar>
                  <key>PLATFORM</key>
                  <value>ubuntu-16-04</value>
                </org.csanchez.jenkins.plugins.kubernetes.ContainerEnvVar>
              </envVars>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
          </containers>
          <envVars/>
          <annotations/>
          <imagePullSecrets/>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <inheritFrom></inheritFrom>
          <name>ubuntu-16-04-build</name>
          <privileged>false</privileged>
          <alwaysPullImage>false</alwaysPullImage>
          <instanceCap>8</instanceCap>
          <idleMinutes>0</idleMinutes>
          <label>ubuntu-16-04-build</label>
          <nodeSelector>role=build</nodeSelector>
          <customWorkspaceVolumeEnabled>false</customWorkspaceVolumeEnabled>
          <workspaceVolume class="org.csanchez.jenkins.plugins.kubernetes.volumes.workspace.EmptyDirWorkspaceVolume">
            <memory>false</memory>
          </workspaceVolume>
          <volumes>
            <org.csanchez.jenkins.plugins.kubernetes.volumes.HostPathVolume>
              <mountPath>/home/jenkins/.cache</mountPath>
              <hostPath>/mnt/disks/ssd0</hostPath>
            </org.csanchez.jenkins.plugins.kubernetes.volumes.HostPathVolume>
          </volumes>
          <containers>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>jnlp</name>
              <image>gcr.io/istio-testing/ubuntu-16-04-slave:latest</image>
              <privileged>true</privileged>
              <alwaysPullImage>true</alwaysPullImage>
              <workingDir>/home/jenkins</workingDir>
              <command></command>
              <args>${computer.jnlpmac} ${computer.name}</args>
              <ttyEnabled>true</ttyEnabled>
              <resourceRequestCpu>500m</resourceRequestCpu>
              <resourceRequestMemory>512Mi</resourceRequestMemory>
              <resourceLimitCpu>4000m</resourceLimitCpu>
              <resourceLimitMemory>20Gi</resourceLimitMemory>
              <envVars>
                <org.csanchez.jenkins.plugins.kubernetes.ContainerEnvVar>
                  <key>PLATFORM</key>
                  <value>ubuntu-16-04</value>
                </org.csanchez.jenkins.plugins.kubernetes.ContainerEnvVar>
              </envVars>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
          </containers>
          <envVars/>
          <annotations/>
          <imagePullSecrets/>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <inheritFrom></inheritFrom>
          <name>ubuntu-16-04-test</name>
          <privileged>false</privileged>
          <alwaysPullImage>false</alwaysPullImage>
          <instanceCap>2</instanceCap>
          <idleMinutes>0</idleMinutes>
          <label>ubuntu-16-04-test</label>
          <nodeSelector></nodeSelector>
          <customWorkspaceVolumeEnabled>false</customWorkspaceVolumeEnabled>
          <workspaceVolume class="org.csanchez.jenkins.plugins.kubernetes.volumes.workspace.EmptyDirWorkspaceVolume">
            <memory>false</memory>
          </workspaceVolume>
          <volumes/>
          <containers>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>jnlp</name>
              <image>gcr.io/istio-testing/ubuntu-16-04-slave:test</image>
              <privileged>true</privileged>
              <alwaysPullImage>true</alwaysPullImage>
              <workingDir>/home/jenkins</workingDir>
              <command></command>
              <args>${computer.jnlpmac} ${computer.name}</args>
              <ttyEnabled>true</ttyEnabled>
              <resourceRequestCpu>500m</resourceRequestCpu>
              <resourceRequestMemory>512Mi</resourceRequestMemory>
              <resourceLimitCpu>2000m</resourceLimitCpu>
              <resourceLimitMemory>4Gi</resourceLimitMemory>
              <envVars>
                <org.csanchez.jenkins.plugins.kubernetes.ContainerEnvVar>
                  <key>PLATFORM</key>
                  <value>ubuntu-16-04</value>
                </org.csanchez.jenkins.plugins.kubernetes.ContainerEnvVar>
              </envVars>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
          </containers>
          <envVars/>
          <annotations/>
          <imagePullSecrets/>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
      </templates>
      <serverUrl>https://kubernetes.default</serverUrl>
      <skipTlsVerify>false</skipTlsVerify>
      <namespace>jenkins</namespace>
      <jenkinsUrl>http://jenkins-ui.jenkins.svc.cluster.local:8080</jenkinsUrl>
      <jenkinsTunnel>jenkins-discovery.jenkins.svc.cluster.local:50000</jenkinsTunnel>
      <containerCap>20</containerCap>
      <retentionTimeout>5</retentionTimeout>
      <connectTimeout>0</connectTimeout>
      <readTimeout>0</readTimeout>
    </org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud>
  </clouds>
  <quietPeriod>0</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>All Jobs</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*</includeRegex>
      <recurse>true</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Qualification</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>istio-testing/postsubmit</string>
        <string>manager/postsubmit</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.0.4"/>
      </columns>
      <recurse>true</recurse>
    </listView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <label>master</label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>true</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>12</int>
          <string>BAZEL_STARTUP_ARGS</string>
          <string>--batch</string>
          <string>BUCKET</string>
          <string>istio-artifacts</string>
          <string>DEFAULT_SLAVE_LABEL</string>
          <string>ubuntu-16-04</string>
          <string>E2E_CLUSTER</string>
          <string>e2e-testing</string>
          <string>E2E_CLUSTER_ZONE</string>
          <string>us-west1-a</string>
          <string>ISTIO_TESTING_DOCKERHUB</string>
          <string>istio-testing-dockerhub</string>
          <string>ISTIO_TESTING_TOKEN_ID</string>
          <string>istio-testing</string>
          <string>NOTIFY_LIST</string>
          <string>istio-testing@gmail.com</string>
          <string>PATH+OPTIONS</string>
          <string>/usr/lib/google-cloud-sdk/bin:/usr/local/go/bin:/usr/local/bin</string>
          <string>PROJECT</string>
          <string>istio-testing</string>
          <string>TOOLS_BUCKET</string>
          <string>istio-tools</string>
          <string>ZONE</string>
          <string>us-central1-f</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
</hudson>