apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: tide
  labels:
    app: tide
spec:
  replicas: 1 # Do not scale up.
  template:
    metadata:
      labels:
        app: tide
    spec:
      containers:
      - name: tide
        image: gcr.io/k8s-prow/tide:v20200116-52fe941d7
        args:
        - --config-path=/etc/config/config.yaml
        - --dry-run=false
        - --gcs-credentials-file=/etc/service-account/service-account.json
        - --github-endpoint=http://ghproxy
        - --github-endpoint=https://api.github.com
        - --history-uri=gs://istio-prow/tide-history.json
        - --job-config-path=/etc/job-config
        - --status-path=gs://istio-prow/tide-status-checkpoint.yaml
        ports:
          - name: http
            containerPort: 8888
        volumeMounts:
        - name: config
          mountPath: /etc/config
          readOnly: true
        - name: job-config
          mountPath: /etc/job-config
          readOnly: true
        - name: oauth
          mountPath: /etc/github
          readOnly: true
        - name: service-account
          mountPath: /etc/service-account
          readOnly: true
      volumes:
      - name: oauth
        secret:
          secretName: oauth-token
      - name: config
        configMap:
          name: config
      - name: job-config
        configMap:
          name: job-config
      - name: service-account
        secret:
          secretName: prow-service-account
