apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx
  namespace: gcs
  labels:
    app.kubernetes.io/part-of: gcsweb
data:
  nginx.conf: |
    server {
      listen 80 default_server;

      server_name _;

      location / {
        if ($http_x_forwarded_proto = 'http') {
            return 301 https://$host$request_uri;
        }
        proxy_pass http://localhost:8080/;
      }

    }
