org: istio
repo: istio
support_release_branching: false

defaults:
  branches: [master]
  branches-out: [^experimental-.*]
  repo-allowlist: [istio]

transforms:

- job-type:
  - presubmit
  job-denylist: [release_istio,build-base-images_istio]
