org: istio
repo: api
support_release_branching: true
image: gcr.io/istio-testing/build-tools:master-03285f22d0d1f21a8fa63b76aeac574e09c0c5d1

jobs:
  - name: build
    command: [make, presubmit]

  - name: gencheck
    command: [make, gen-check]

  - name: update-api-dep-client-go
    types: [postsubmit]
    command:
    - ../test-infra/tools/automator/automator.sh
    - --org=$AUTOMATOR_ORG
    - --repo=client-go
    - "--title=Automator: update istio/api@$AUTOMATOR_SRC_BRANCH dependency in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH"
    - --labels=auto-merge,release-notes-none
    - --modifier=update_api_dep
    - --token-path=/etc/github-token/oauth
    - --cmd=go get istio.io/api@$AUTOMATOR_SHA && go mod tidy && make clean gen
    requirements: [github]
    repos: [istio/test-infra@master]
    env:
    - name: AUTOMATOR_ORG
      value: istio

  - name: release-notes
    types: [presubmit]
    modifiers: [presubmit_optional]
    command:
      - entrypoint
      - gen-release-notes --checkLabel
    requirements: [github-readonly]
