org: istio
repo: bots
image: gcr.io/istio-testing/build-tools:master-2022-01-26T18-21-00

jobs:
  - name: build
    command: [make, build]

  - name: lint
    command: [make, lint]

  - name: test
    command: [make, test]

  - name: gencheck
    command: [make, gen-check]

  - name: deploy-policybot
    service_account_name: prowjob-advanced-sa
    regex: '^policybot/'
    types: [postsubmit]
    command:
    - entrypoint
    - make
    - -C
    - policybot
    - deploy
    requirements: [docker]
    env:
    - name: GITHUB_WEBHOOK_SECRET
      valueFrom:
        secretKeyRef:
          name: policybot
          key: githubWebhookSecret
    - name: GITHUB_TOKEN
      valueFrom:
        secretKeyRef:
          name: policybot
          key: githubToken
    - name: ZENHUB_TOKEN
      valueFrom:
        secretKeyRef:
          name: policybot
          key: zenhubToken
    - name: GCP_CREDS
      valueFrom:
        secretKeyRef:
          name: policybot
          key: gcpCreds
    - name: SENDGRID_APIKEY
      valueFrom:
        secretKeyRef:
          name: policybot
          key: sendgridApikey
    - name: GITHUB_OAUTH_CLIENT_ID
      valueFrom:
        secretKeyRef:
          name: policybot
          key: githubOauthClientId
    - name: GITHUB_OAUTH_CLIENT_SECRET
      valueFrom:
        secretKeyRef:
          name: policybot
          key: githubOauthClientSecret
