org: istio
repo: bots
image: gcr.io/istio-testing/build-tools:master-bb3a18f9d6ecb6f876d08fbfa6fde229979bcb1e

jobs:
  - name: build
    command: [make, build]

  - name: lint
    command: [make, lint]

  - name: test
    command: [make, test]

  - name: gencheck
    command: [make, gen-check]

  - name: deploy-policybot
    cluster: test-infra-trusted
    excluded_requirements: [cache]
    service_account_name: prowjob-bots-deployer
    regex: '^policybot/'
    types: [postsubmit]
    command:
    - entrypoint
    - make
    - -C
    - policybot
    - deploy
    requirements: [docker]
