org: istio
repo: client-go
support_release_branching: true
image: gcr.io/istio-testing/build-tools:master-42499d67179f80bbbeb71bc0f793d1b483cf8937

jobs:
  - name: build
    command: [make, build]

  - name: lint
    command: [make, lint]

  - name: gencheck
    command: [make, gen-check]

  - name: update_client-go_dep
    types: [postsubmit]
    command:
    - ../test-infra/tools/automator/automator.sh
    - "--org=$ORG"
    - --repo=istio
    - "--title=Automator: update istio/client-go@$AUTOMATOR_SRC_BRANCH dependency in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH"
    - --labels=auto-merge,release-notes-none
    - --modifier=update_client-go_dep
    - --token-path=/etc/github-token/oauth
    - --git-exclude=^common/
    - --cmd=go get istio.io/client-go@$AUTOMATOR_SHA && go mod tidy && make clean gen
    requirements: [github]
    repos: [istio/test-infra@master]
    env:
    - name: ORG
      value: istio
