org: istio
repo: client-go
support_release_branching: true
image: gcr.io/istio-testing/build-tools:master-50d8da61adc0b132617c42d3c548da0f8791a3ef

jobs:
  - name: build
    command: [make, build]

  - name: lint
    command: [make, lint]

  - name: gencheck
    command: [make, gen-check]

  - name: update-client-go-dep
    types: [postsubmit]
    command:
    - entrypoint
    - ../test-infra/tools/automator/automator.sh
    - --org=$AUTOMATOR_ORG
    - --repo=istio
    - "--title=Automator: update istio/client-go@$AUTOMATOR_SRC_BRANCH dependency in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH"
    - --labels=auto-merge,release-notes-none
    - --modifier=update-client-go-dep
    - --token-env
    - --git-exclude=^common/
    - --cmd=go get istio.io/client-go@$AUTOMATOR_SHA && go mod tidy && make clean gen
    requirements: [github-istio-testing]
    repos: [istio/test-infra@master]
    env:
    - name: AUTOMATOR_ORG
      value: istio
