org: istio
repo: community
image: gcr.io/istio-testing/build-tools:master-daf61d16687130dc3cb60896f395f0d2df702669

jobs:
  - name: lint
    command: [prow/community-lint.sh]

  - name: test
    command: [make, test]

  - name: sync-org
    types: [postsubmit]
    command: [sh, prow/sync-org.sh]
    requirements: [github-organization]
    excluded_requirements: [cache]
    timeout: 4h
    cluster: test-infra-trusted
