org: istio
repo: community
image: gcr.io/istio-testing/build-tools:master-700d1817d60f98e7d70ee9ec673b275486702ebc

jobs:
  - name: lint
    command: [prow/community-lint.sh]

  - name: test
    command: [make, test]

  - name: sync-org
    types: [postsubmit]
    command: [sh, prow/sync-org.sh]
    requirements: [github]
    timeout: 3h
