org: istio
repo: community
image: gcr.io/istio-testing/build-tools:master-3afabd07236f0f9b641d7a8249a664a3a4fc9ed8

jobs:
  - name: lint
    command: [prow/community-lint.sh]

  - name: test
    command: [make, test]

  - name: sync-org
    types: [postsubmit]
    command: [sh, prow/sync-org.sh]
    requirements: [github]
    timeout: 3h
