org: istio
repo: community
image: gcr.io/istio-testing/build-tools:master-7c2cba5679671f40312e6324d270a0d70ad097d0

jobs:
  - name: lint
    command: [prow/community-lint.sh]

  - name: test
    command: [make, test]

  - name: sync-org
    types: [postsubmit]
    command: [sh, prow/sync-org.sh]
    requirements: [github-organization]
    timeout: 4h
