org: istio
support_release_branching: true
repo: common-files
image: gcr.io/istio-testing/build-tools:master-672e6089ff843019a2b28cf9e87754c7b74358ea

jobs:
  - name: lint
    command: [make, lint]

  - name: update-common-mainonly
    types: [postsubmit]
    command:
    - entrypoint
    - ../test-infra/tools/automator/automator.sh
    - --org=$AUTOMATOR_ORG
    - --repo=test-infra,bots,community
    - "--title=Automator: update common-files@$AUTOMATOR_SRC_BRANCH in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH"
    - --labels=auto-merge,release-notes-none
    - --strict
    - --modifier=commonfiles
    - --token-env
    - --cmd=make update-common && make gen
    requirements: [github-istio-testing]
    repos: [istio/test-infra@master]
    env:
    - name: AUTOMATOR_ORG
      value: istio
    disable_release_branching: true

  - name: update-common
    types: [postsubmit]
    command:
    - entrypoint
    - ../test-infra/tools/automator/automator.sh
    - --org=$AUTOMATOR_ORG
    - --repo=istio,api,tools,release-builder,client-go,proxy,ztunnel
    - "--title=Automator: update common-files@$AUTOMATOR_SRC_BRANCH in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH"
    - --labels=auto-merge,release-notes-none
    - --strict
    - --modifier=commonfiles
    - --token-env
    - --cmd=make update-common && make gen
    requirements: [github-istio-testing]
    repos: [istio/test-infra@master]
    env:
    - name: AUTOMATOR_ORG
      value: istio

  - name: update-common-istio.io
    types: [postsubmit]
    command:
    - entrypoint
    - ../test-infra/tools/automator/automator.sh
    - --org=$AUTOMATOR_ORG
    - --repo=istio.io
    - "--title=Automator: update common-files@$AUTOMATOR_SRC_BRANCH in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH"
    - --labels=auto-merge,release-notes-none
    - --strict
    - --modifier=commonfiles
    - --token-env
    - --cmd=make update-common && make gen
    requirements: [github-istio-testing]
    repos: [istio/test-infra@master]
    env:
    - name: AUTOMATOR_ORG
      value: istio

  - name: update-build-tools-image
    types: [postsubmit]
    command:
    - entrypoint
    - ../test-infra/tools/automator/automator.sh
    - --org=$AUTOMATOR_ORG
    - --repo=test-infra
    - "--title=Automator: update build-tools:$AUTOMATOR_SRC_BRANCH"
    - --branch=master
    - --modifier=buildtools
    - --token-env
    - --script-path=../test-infra/tools/automator/scripts/update-images.sh
    - --labels=release-notes-none
    - --verbose
    - --
    - --post=make gen
    - --source=$AUTOMATOR_ROOT_DIR/files/common/scripts/setup_env.sh
    requirements: [github-istio-testing]
    repos: [istio/test-infra@master]
    env:
    - name: AUTOMATOR_ORG
      value: istio
