org: istio
repo: community
image: gcr.io/istio-testing/build-tools:master-35ba765f8703e7dc5d1ed760a72d88b3c1f3849a

jobs:
  - name: lint
    command: [prow/community-lint.sh]

  - name: test
    command: [make, test]

  - name: sync-org
    types: [postsubmit]
    command: [org-gen, --write-to-github, --github-token=/etc/github-token/oauth]
    node_selector:
      prod: prow
    requirements: [github-organization]
    excluded_requirements: [cache]
    timeout: 4h
    cluster: test-infra-trusted
