org: istio
support_release_branching: true
repo: common-files
image: gcr.io/istio-testing/build-tools:master-2022-05-19T17-27-24

jobs:
  - name: lint
    command: [make, lint]

  - name: update-common-mainonly
    types: [postsubmit]
    command:
    - ../test-infra/tools/automator/automator.sh
    - --org=istio
    - --repo=test-infra,bots
    - "--title=Automator: update common-files@$AUTOMATOR_SRC_BRANCH in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH"
    - --labels=auto-merge,release-notes-none
    - --strict
    - --modifier=commonfiles
    - --token-path=/etc/github-token/oauth
    - --cmd=make update-common && make gen
    requirements: [github]
    repos: [istio/test-infra@master]
    disable_release_branching: true

  - name: update-common
    types: [postsubmit]
    command:
    - ../test-infra/tools/automator/automator.sh
    - --org=istio
    - --repo=istio,api,tools,release-builder,pkg,client-go,proxy
    - "--title=Automator: update common-files@$AUTOMATOR_SRC_BRANCH in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH"
    - --labels=auto-merge,release-notes-none
    - --strict
    - --modifier=commonfiles
    - --token-path=/etc/github-token/oauth
    - --cmd=make update-common && make gen
    requirements: [github]
    repos: [istio/test-infra@master]

  - name: update-common-istio.io
    types: [postsubmit]
    command:
    - ../test-infra/tools/automator/automator.sh
    - --org=istio
    - --repo=istio.io
    - "--title=Automator: update common-files@$AUTOMATOR_SRC_BRANCH in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH"
    - --labels=auto-merge,release-notes-none
    - --strict
    - --modifier=commonfiles
    - --token-path=/etc/github-token/oauth
    - --cmd=make update-common && make gen
    requirements: [github]
    repos: [istio/test-infra@master]

  - name: update-build-tools-image
    types: [postsubmit]
    command:
    - ../test-infra/tools/automator/automator.sh
    - --org=istio
    - --repo=test-infra
    - "--title=Automator: update build-tools:$AUTOMATOR_SRC_BRANCH"
    - --branch=master
    - --modifier=buildtools
    - --token-path=/etc/github-token/oauth
    - --script-path=../test-infra/tools/automator/scripts/update-images.sh
    - --labels=release-notes-none
    - --verbose
    - --
    - --post=make gen
    - --source=$AUTOMATOR_ROOT_DIR/files/common/scripts/setup_env.sh
    requirements: [github]
    repos: [istio/test-infra@master]
