org: istio
repo: enhancements
branches: [master]
support_release_branching: true
image: gcr.io/istio-testing/build-tools:master-eebcdda8856e2d4f528991d27d4808880cce4c52
jobs:
- name: validate-features
  types: [presubmit]
  modifiers: [presubmit_optional]
  command:
    - ../test-infra/scripts/validate_schema.sh
    - --document-path=./features.yaml
    - --schema-path=./features_schema.json
  repos: [istio/test-infra@master,istio/tools@master]
