org: istio
repo: envoy
branches: [master]
image: piotrsikora/envoy-build-ubuntu@sha256:e2775df4cf57e86920ca39886a877b4ccc12dbcfaa2a7c2a804f4cb83c797952
node_selector:
  testing: build-pool

jobs:
- name: test-asan
  types: [presubmit]
  env:
  - name: BAZEL_BUILD_EXTRA_OPTIONS
    value: "--local_ram_resources=131072 --local_cpu_resources=42 --test_env=ENVOY_IP_TEST_VERSIONS=v4only --flaky_test_attempts=9"
  - name: ENVOY_SRCDIR
    value: "/home/prow/go/src/istio.io/envoy"
  command: [./ci/do_ci.sh, bazel.asan]
  timeout: 4h0m0s

- name: test-tsan
  types: [presubmit]
  env:
  - name: BAZEL_BUILD_EXTRA_OPTIONS
    value: "--local_ram_resources=131072 --local_cpu_resources=42 --test_env=ENVOY_IP_TEST_VERSIONS=v4only --flaky_test_attempts=9"
  - name: ENVOY_SRCDIR
    value: "/home/prow/go/src/istio.io/envoy"
  modifiers:
  - optional
  command: [./ci/do_ci.sh, bazel.tsan]

- name: test-release
  types: [presubmit]
  env:
  - name: BAZEL_BUILD_EXTRA_OPTIONS
    value: "--local_ram_resources=131072 --local_cpu_resources=42 --test_env=ENVOY_IP_TEST_VERSIONS=v4only --flaky_test_attempts=9"
  - name: ENVOY_SRCDIR
    value: "/home/prow/go/src/istio.io/envoy"
  command: [./ci/do_ci.sh, bazel.release]

- name: update-proxy
  types: [periodic]
  interval: 168h
  command:
  - ../test-infra/tools/automator/automator.sh
  - --org=istio
  - --repo=proxy
  - "--title=Automator: update envoy@$AUTOMATOR_SRC_BRANCH in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH"
  - --labels=auto-merge
  - --modifier=update_envoy_dep
  - --token-path=/etc/github-token/oauth
  - --cmd=scripts/update_envoy.sh $AUTOMATOR_SHA $AUTOMATOR_SHA_COMMIT_DATE
  requirements: [github]
  repos: [istio/envoy@master, istio/test-infra@master]
  image: gcr.io/istio-testing/build-tools:master-2021-01-27T16-26-22
  timeout: 4h

resources:
  default:
    requests:
      memory: "180G"
      cpu: "48"
      ephemeral-storage: "1500G"
    limits:
      memory: "240G"
      cpu: "64"
      ephemeral-storage: "1790G"
