org: istio
repo: istio.io
support_release_branching: true
image: gcr.io/istio-testing/build-tools:master-2021-01-29T01-18-46

jobs:
  - name: lint
    command: [make, lint]

  - name: gencheck
    command: [make, gen-check]

  - name: doc.test.profile_default
    command: [entrypoint, prow/integ-suite-kind.sh, doc.test.profile_default]
    requirements: [kind]
    modifiers: [optional]

  - name: doc.test.profile_demo
    command: [entrypoint, prow/integ-suite-kind.sh, doc.test.profile_demo]
    requirements: [kind]
    modifiers: [optional]

  - name: doc.test.profile_none
    command: [entrypoint, prow/integ-suite-kind.sh, doc.test.profile_none]
    requirements: [kind]
    modifiers: [optional]

  - name: doc.test.multicluster
    command:
    - entrypoint
    - prow/integ-suite-kind.sh
    - --topology
    - MULTICLUSTER
    - doc.test.multicluster
    requirements: [kind]
    modifiers: [optional]

  - name: update-ref-docs-dry-run
    types: [presubmit]
    command:
    - ../test-infra/tools/automator/automator.sh
    - --org=istio
    - --repo=istio.io
    - --token-path=/etc/github-token/oauth
    - --cmd=make update_ref_docs
    - --dry-run
    requirements: [github]
    modifiers: [optional]
    repos: [istio/test-infra@master]

  - name: update-ref-docs
    disable_release_branching: true
    types: [periodic]
    cron: "0 2 * * *"  # every day at 02:00AM UTC
    command:
    - ./tools/automator/automator.sh
    - --org=istio
    - --repo=istio.io
    - "--title=Automator: update istio.io@$AUTOMATOR_SRC_BRANCH reference docs"
    - --labels=auto-merge,release-notes-none
    - --modifier=refdocs
    - --token-path=/etc/github-token/oauth
    - --cmd=make update_ref_docs
    requirements: [github]
    repos: [istio/test-infra@master]

  - name: update-istio-ref
    disable_release_branching: true
    types: [periodic]
    cron: "0 2 * * 1"  # every Monday at 02:00AM UTC
    command:
    - ./tools/automator/automator.sh
    - --org=istio
    - --repo=istio.io
    - "--title=Automator: update istio@$AUTOMATOR_SRC_BRANCH test reference"
    - --labels=auto-merge,release-notes-none
    - --token-path=/etc/github-token/oauth
    - --cmd=go get istio.io/istio && go mod tidy
    requirements: [github]
    repos: [istio/test-infra@master]

resources:
  default:
    requests:
      memory: "3Gi"
      cpu: "5000m"
    limits:
      memory: "24Gi"
      cpu: "8000m"
  lint:
    requests:
      memory: "16Gi"
      cpu: "3000m"
    limits:
      memory: "24Gi"
      cpu: "5000m"
