org: istio
repo: istio.io
image: gcr.io/istio-testing/build-tools:2019-08-31T04-48-30
branches:
  - release-1.3
env:
  - name: GOPROXY
    value: "https://proxy.golang.org"

jobs:
  - name: lint
    command: [make, lint]
