org: istio
repo: istio
support_release_branching: true
image: gcr.io/istio-testing/build-tools:master-2022-01-19T18-35-09
jobs:
  - name: unit-tests
    command: [entrypoint, make, -e, "T=-v -count=1", build, racetest, binaries-test]

  - name: release-test
    service_account_name: prowjob-advanced-sa
    types: [presubmit]
    command: [entrypoint, prow/release-test.sh]
    requirements: [docker]

  - name: release
    service_account_name: prowjob-advanced-sa
    types: [postsubmit]
    command: [entrypoint, prow/release-commit.sh]
    requirements: [docker]

  - name: benchmark
    types: [presubmit]
    modifiers: [presubmit_optional, presubmit_skipped]
    command: [entrypoint, make, benchtest]
    resources: benchmark

  - name: benchmark-report
    service_account_name: prowjob-advanced-sa
    types: [postsubmit]
    command: [entrypoint, make, benchtest, report-benchtest]
    resources: benchmark

  - name: integ-cni
    types: [presubmit]
    command: [entrypoint, prow/integ-suite-kind.sh, test.integration.pilot.kube.presubmit]
    requirements: [kind]
    env:
      - name: INTEGRATION_TEST_FLAGS
        value: " --istio.test.istio.enableCNI=true "

  - name: integ-telemetry
    command: [entrypoint, prow/integ-suite-kind.sh, test.integration.telemetry.kube]
    requirements: [kind]

  - name: integ-telemetry-mc
    command:
      - entrypoint
      - prow/integ-suite-kind.sh
      - --topology
      - MULTICLUSTER
      - test.integration.telemetry.kube
    requirements: [kind]
    resources: multicluster

  - name: integ-telemetry-istiodremote
    command:
      - entrypoint
      - prow/integ-suite-kind.sh
      - --topology
      - MULTICLUSTER
      - --topology-config
      - prow/config/topology/external-istiod.json
      - test.integration.telemetry.kube
    requirements: [kind]
    resources: multicluster

  - name: integ-telemetry-istiodless-mc
    modifiers:
      - presubmit_optional
      - presubmit_skipped
      - hidden
    command:
      - entrypoint
      - prow/integ-suite-kind.sh
      - --topology
      - MULTICLUSTER
      - test.integration.telemetry.kube
    requirements: [kind]
    resources: multicluster
    env:
      - name: INTEGRATION_TEST_FLAGS
        value: --istio.test.istio.istiodlessRemotes

  - name: integ-distroless
    command: [entrypoint, prow/integ-suite-kind.sh, test.integration.kube.environment]
    requirements: [kind]
    env:
      - name: VARIANT
        value: "distroless"

  - name: integ-ipv6
    command: [entrypoint, prow/integ-suite-kind.sh, test.integration.kube.environment]
    requirements: [kind]
    node_selector:
      # COS does not currently support IPv6
      testing: ipv6-pool
    env:
      - name: DOCKER_IN_DOCKER_IPV6_ENABLED
        value: "true"
      - name: IP_FAMILY
        value: "ipv6"

  - name: integ-operator-controller
    command: [entrypoint, prow/integ-suite-kind.sh, test.integration.operator.kube]
    requirements: [kind]


  - name: integ-pilot
    command: [entrypoint, prow/integ-suite-kind.sh, test.integration.pilot.kube]
    requirements: [kind]

  - name: integ-pilot-multicluster
    command:
      - entrypoint
      - prow/integ-suite-kind.sh
      - --topology
      - MULTICLUSTER
      - test.integration.pilot.kube
    requirements: [kind]
    resources: multicluster

  - name: integ-pilot-istiodremote
    command:
      - entrypoint
      - prow/integ-suite-kind.sh
      - --topology
      - MULTICLUSTER
      - --topology-config
      - prow/config/topology/external-istiod.json
      - test.integration.pilot.kube
    requirements: [kind]
    resources: multicluster
    env:
      - name: INTEGRATION_TEST_FLAGS
        value: --istio.test.skipVM

  - name: integ-pilot-istiodremote-mc
    command:
      - entrypoint
      - prow/integ-suite-kind.sh
      - --topology
      - MULTICLUSTER
      - --topology-config
      - prow/config/topology/external-istiod-multicluster.json
      - test.integration.pilot.kube
    requirements: [kind]
    resources: multicluster
    env:
      - name: INTEGRATION_TEST_FLAGS
        value: --istio.test.skipVM

  - name: integ-pilot-istiodless-mc
    modifiers:
      - presubmit_optional
      - presubmit_skipped
      - hidden
    command:
      - entrypoint
      - prow/integ-suite-kind.sh
      - --topology
      - MULTICLUSTER
      - test.integration.pilot.kube
    requirements: [kind]
    resources: multicluster
    env:
      - name: INTEGRATION_TEST_FLAGS
        value: --istio.test.istio.istiodlessRemotes

  - name: integ-security
    command: [entrypoint, prow/integ-suite-kind.sh, test.integration.security.kube]
    requirements: [kind]

  - name: integ-security-fuzz
    types: [periodic]
    cron: "0 7 * * *" # starts every day at 07:00AM UTC
    command: [entrypoint, prow/integ-suite-kind.sh, test.integration-fuzz.security.fuzz.kube]
    requirements: [kind]

  - name: integ-security-multicluster
    command:
      - entrypoint
      - prow/integ-suite-kind.sh
      - --topology
      - MULTICLUSTER
      - test.integration.security.kube
    requirements: [kind]
    resources: multicluster

  - name: integ-security-istiodremote
    command:
      - entrypoint
      - prow/integ-suite-kind.sh
      - --topology
      - MULTICLUSTER
      - --topology-config
      - prow/config/topology/external-istiod.json
      - test.integration.security.kube
    requirements: [kind]
    resources: multicluster
    env:
      - name: INTEGRATION_TEST_FLAGS
        value: --istio.test.skipVM

  - name: integ-security-istiodless-mc
    modifiers:
      - presubmit_optional
      - presubmit_skipped
      - hidden
    command:
      - entrypoint
      - prow/integ-suite-kind.sh
      - --topology
      - MULTICLUSTER
      - test.integration.security.kube
    requirements: [kind]
    resources: multicluster
    env:
      - name: INTEGRATION_TEST_FLAGS
        value: --istio.test.istio.istiodlessRemotes

  - name: integ-helm
    command: [entrypoint, prow/integ-suite-kind.sh, test.integration.helm.kube]
    requirements: [kind]

    # The node image must be kept in sync with the kind version we use.
    # See istio.io/tools/docker/build-tools for the kind image
    # https://github.com/kubernetes-sigs/kind/releases for node corresponding node image
  - name: integ-k8s-116
    types: [postsubmit]
    command:
      - entrypoint
      - prow/integ-suite-kind.sh
      - --node-image
      - kindest/node:v1.16.15
      - --kind-config
      - prow/config/trustworthy-jwt.yaml
      - test.integration.kube
    requirements: [kind]
    timeout: 4h
    env:
      - name: INTEGRATION_TEST_FLAGS
        value: " --istio.test.retries=1 "

  - name: integ-k8s-117
    types: [postsubmit]
    command:
      - entrypoint
      - prow/integ-suite-kind.sh
      - --node-image
      - kindest/node:v1.17.17
      - --kind-config
      - prow/config/endpointslice.yaml
      - test.integration.kube
    requirements: [kind]
    timeout: 4h
    env:
      - name: INTEGRATION_TEST_FLAGS
        value: " --istio.test.retries=1 "

  - name: integ-k8s-118
    types: [postsubmit]
    command:
      - entrypoint
      - prow/integ-suite-kind.sh
      - --node-image
      - kindest/node:v1.18.19
      - --kind-config
      - prow/config/trustworthy-jwt.yaml
      - test.integration.kube
    requirements: [kind]
    timeout: 4h
    env:
      - name: INTEGRATION_TEST_FLAGS
        value: " --istio.test.retries=1 "

  - name: integ-k8s-119
    types: [postsubmit]
    command:
      - entrypoint
      - prow/integ-suite-kind.sh
      - --node-image
      - kindest/node:v1.19.11
      - --kind-config
      - prow/config/trustworthy-jwt.yaml
      - test.integration.kube
    requirements: [kind]
    timeout: 4h
    env:
      - name: INTEGRATION_TEST_FLAGS
        value: " --istio.test.retries=1 "

  - name: integ-k8s-120
    types: [postsubmit]
    command:
      - entrypoint
      - prow/integ-suite-kind.sh
      - --node-image
      - gcr.io/istio-testing/kind-node:v1.20.7
      - --kind-config
      - prow/config/mixedlb-service.yaml
      - test.integration.kube
    requirements: [kind]
    timeout: 4h
    env:
      - name: INTEGRATION_TEST_FLAGS
        value: " --istio.test.retries=1 "

  - name: integ-k8s-122
    types: [postsubmit]
    command:
      - entrypoint
      - prow/integ-suite-kind.sh
      - --node-image
      - gcr.io/istio-testing/kind-node:v1.22.2
      - --kind-config
      - prow/config/mixedlb-service.yaml
      - test.integration.kube
    requirements: [kind]
    timeout: 4h
    env:
      - name: INTEGRATION_TEST_FLAGS
        value: " --istio.test.retries=1 "

  - name: integ-k8s-123
    types: [postsubmit]
    command:
      - entrypoint
      - prow/integ-suite-kind.sh
      - --node-image
      - gcr.io/istio-testing/kind-node:v1.23.1
      - test.integration.kube
    requirements: [kind]
    timeout: 4h
    env:
      - name: INTEGRATION_TEST_FLAGS
        value: " --istio.test.retries=1 "

  - name: integ-k8s-124
    types: [postsubmit]
    modifiers: [hidden] # until stable
    command:
      - entrypoint
      - prow/integ-suite-kind.sh
      - --node-image
      - gcr.io/istio-testing/kind-node:v1.24.0-alpha.0
      - test.integration.kube
    requirements: [kind]
    timeout: 4h
    env:
      - name: INTEGRATION_TEST_FLAGS
        value: " --istio.test.retries=1 "

  - name: integ-cni
    types: [postsubmit]
    command:
      - entrypoint
      - prow/integ-suite-kind.sh
      - test.integration.kube
    requirements: [kind]
    timeout: 4h
    env:
      - name: TEST_SELECT
        value: "-flaky"
      - name: INTEGRATION_TEST_FLAGS
        value: " --istio.test.retries=1 --istio.test.istio.enableCNI=true "

  # Test with assertions enabled.
  - name: integ-assertion
    modifiers: [presubmit_optional, presubmit_skipped] #  We run this in postsubmit always, but let developers explicitly run in presubmit
    command:
      - entrypoint
      - prow/integ-suite-kind.sh
      - test.integration.kube
    requirements: [kind]
    timeout: 4h
    env:
      - name: INTEGRATION_TEST_FLAGS
        value: " --istio.test.istio.operatorOptions=values.pilot.env.UNSAFE_PILOT_ENABLE_RUNTIME_ASSERTIONS=true "

  - name: analyze-tests
    types: [presubmit]
    command: [make, test.integration.analyze]

  - name: lint
    types: [presubmit]
    command: [make, lint]
    resources: lint

  - name: gencheck
    types: [presubmit]
    command: [make, gen-check]

  - name: release-notes
    types: [presubmit]
    command:
      - ../test-infra/tools/check_release_notes.sh
      - --token-path=/etc/github-token/oauth
    requirements: [github]
    repos: [istio/test-infra@master,istio/tools@master]
resources_presets:
  default:
    requests:
      memory: "3Gi"
      cpu: "5000m"
    limits:
      memory: "24Gi"
  # TODO: this was set while investigating https://github.com/istio/istio/issues/32985
  # We should consider if this is needed long term, as its expensive
  multicluster:
    requests:
      memory: "3Gi"
      # This ensures we have at most one multicluster job on a node
      # Nodes have 16CPUs, with some overhead
      cpu: "8000m"
    limits:
      memory: "24Gi"
  lint:
    requests:
      memory: "16Gi"
      cpu: "3000m"
    limits:
      memory: "24Gi"
  # Give 15 CPUs which will put us on a dedicated node, for consistency
  benchmark:
    requests:
      memory: "8Gi"
      cpu: "15000m"
    limits:
      memory: "24Gi"
requirements: [gocache]
