org: istio
repo: istio.io
support_release_branching: true
image: gcr.io/istio-testing/build-tools:master-2020-04-01T21-36-34

jobs:
  - name: lint
    command: [make, lint]

  - name: k8s-tests
    type: presubmit
    command: [entrypoint, prow/integ-suite-kind.sh, test.kube.presubmit]
    requirements: [kind]
    modifiers: [optional]

  - name: k8s-tests
    type: postsubmit
    command: [entrypoint, prow/integ-suite-kind.sh, test.kube.postsubmit]
    requirements: [kind, gcp]

  - name: update-ref-docs
    type: periodic
    cron: "0 2 * * *"  # every day at 02:00AM UTC
    command:
    - ./tools/automator/automator.sh
    - --org=istio
    - --repo=istio.io
    - "--title=Automator: update istio.io@$AUTOMATOR_BRANCH reference docs"
    - --modifier=refdocs
    - --token-path=/etc/github-token/oauth
    - --cmd=make update_ref_docs
    requirements: [github]
    repos: [istio/test-infra]

resources:
  default:
    requests:
      memory: "3Gi"
      cpu: "5000m"
    limits:
      memory: "24Gi"
      cpu: "8000m"
  lint:
    requests:
      memory: "16Gi"
      cpu: "3000m"
    limits:
      memory: "24Gi"
      cpu: "5000m"
