org: istio
repo: proxy
support_release_branching: true
image: gcr.io/istio-testing/build-tools-proxy:master-4118cfc2b385ebb43ead1f845f744f27e392398b
node_selector:
  testing: build-pool

jobs:
- name: test
  service_account_name: prowjob-rbe
  types: [presubmit]
  command: [./prow/proxy-presubmit.sh]
  timeout: 4h

- name: test-asan
  service_account_name: prowjob-rbe
  types: [presubmit]
  command: [./prow/proxy-presubmit-asan.sh]
  timeout: 4h

- name: test-arm
  architectures: [arm64]
  env:
  - name: ARCH_SUFFIX
    value: $(params.arch)
  service_account_name: prowjob-rbe
  types: [presubmit]
  command: [./prow/proxy-presubmit.sh]
  timeout: 6h
  # TODO: get build-pool for arm
  resources: arm
  node_selector:
    testing: test-pool

- name: release-test
  service_account_name: prowjob-rbe
  types: [presubmit]
  command: [./prow/proxy-presubmit-release.sh]
  timeout: 6h

- name: release-test
  architectures: [arm64]
  env:
  - name: ARCH_SUFFIX
    value: $(params.arch)
  - name: BUILD_ENVOY_BINARY_ONLY
    value: "1"
  service_account_name: prowjob-rbe
  types: [presubmit]
  command: [./prow/proxy-presubmit-release.sh]
  timeout: 6h
  # TODO: get build-pool for arm
  resources: arm
  node_selector:
    testing: test-pool

- name: release
  service_account_name: prowjob-testing-write
  types: [postsubmit]
  command: [entrypoint, ./prow/proxy-postsubmit.sh]
  requirements: [docker]
  timeout: 6h
- name: release
  architectures: [arm64]
  env:
  - name: ARCH_SUFFIX
    value: $(params.arch)
  - name: BUILD_ENVOY_BINARY_ONLY
    value: "1"
  service_account_name: prowjob-testing-write
  types: [postsubmit]
  command: [entrypoint, ./prow/proxy-postsubmit.sh]
  requirements: [docker]
  timeout: 6h
  # TODO: get build-pool for arm
  resources: arm
  node_selector:
    testing: test-pool

- name: update-istio
  types: [postsubmit]
  command:
  - entrypoint
  - ../test-infra/tools/automator/automator.sh
  - --org=$AUTOMATOR_ORG
  - --repo=istio
  - "--title=Automator: update proxy@$AUTOMATOR_SRC_BRANCH in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH"
  - --labels=auto-merge,release-notes-none
  - --modifier=update_proxy_dep
  - --token-env
  - --git-exclude=^common/
  - --cmd=bin/update_proxy.sh $AUTOMATOR_SHA
  requirements: [github-istio-testing]
  repos: [istio/test-infra@master]
  image: gcr.io/istio-testing/build-tools:master-4118cfc2b385ebb43ead1f845f744f27e392398b
  env:
    - name: AUTOMATOR_ORG
      value: istio
  timeout: 4h

- name: update-proxy
  types: [periodic]
  interval: 24h
  command:
  - entrypoint
  - ../test-infra/tools/automator/automator.sh
  - --org=$AUTOMATOR_ORG
  - --repo=proxy
  - "--title=Automator: update envoy@$AUTOMATOR_SRC_BRANCH in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH"
  - --labels=auto-merge
  - --modifier=update_envoy_dep
  - --token-env
  - --cmd=UPDATE_BRANCH=main scripts/update_envoy.sh
  requirements: [github-istio-testing]
  repos: [istio/test-infra@master]
  image: gcr.io/istio-testing/build-tools:master-4118cfc2b385ebb43ead1f845f744f27e392398b
  env:
    - name: AUTOMATOR_ORG
      value: istio
  timeout: 4h

- name: update-go-control-plane
  types: [periodic]
  cron: "0 2 * * 0" # run each Sunday at 02:00AM UTC
  command:
  - entrypoint
  - ../test-infra/tools/automator/automator.sh
  - --org=$AUTOMATOR_ORG
  - --repo=proxy
  - "--title=Automator: update go-control-plane in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH"
  - --labels=auto-merge,release-notes-none
  - --modifier=update_deps
  - --token-env
  - --cmd=go get github.com/envoyproxy/go-control-plane@main && go mod tidy
  disable_release_branching: true
  requirements: [github-istio-testing]
  repos: [istio/test-infra@master]
  image: gcr.io/istio-testing/build-tools:master-4118cfc2b385ebb43ead1f845f744f27e392398b
  env:
    - name: AUTOMATOR_ORG
      value: istio

resources_presets:
  default:
    requests:
      memory: "100G"
      cpu: "30"
    limits:
      memory: "240G"
      cpu: "64"
  # Currently our ARM nodes are tiny while we try to get more capacity
  arm:
    requests:
      memory: "16G"
      cpu: "4"
