org: istio
repo: proxy
support_release_branching: true
image: gcr.io/istio-testing/build-tools-proxy:master-2020-03-24T16-16-03
node_selector:
  testing: build-pool

jobs:
- name: test
  type: presubmit
  command: [./prow/proxy-presubmit.sh]

- name: test-asan
  type: presubmit
  command: [./prow/proxy-presubmit-asan.sh]

- name: test-tsan
  type: presubmit
  command: [./prow/proxy-presubmit-tsan.sh]

- name: release-test
  type: presubmit
  command: [./prow/proxy-presubmit-release.sh]
  requirements: [gcp]

- name: check-wasm
  type: presubmit
  command: [entrypoint, ./prow/proxy-presubmit-wasm.sh]
  requirements: [docker]

- name: release
  type: postsubmit
  command: [entrypoint, ./prow/proxy-postsubmit.sh]
  requirements: [gcp, docker]
  timeout: 4h

resources:
  default:
    requests:
      memory: "100G"
      cpu: "30"
    limits:
      memory: "240G"
      cpu: "64"
