org: istio
repo: proxy
support_release_branching: true
image: gcr.io/istio-testing/build-tools-proxy:master-a27cd2ac35afa5fcae793c9de1952bdb2458d0bc
node_selector:
  testing: build-pool

jobs:
- name: test
  service_account_name: prowjob-advanced-sa
  types: [presubmit]
  command: [./prow/proxy-presubmit.sh]
  timeout: 4h

- name: test-asan
  service_account_name: prowjob-advanced-sa
  types: [presubmit]
  command: [./prow/proxy-presubmit-asan.sh]
  timeout: 4h

- name: test-tsan
  service_account_name: prowjob-advanced-sa
  types: [presubmit]
  command: [./prow/proxy-presubmit-tsan.sh]
  timeout: 4h

- name: release-test
  service_account_name: prowjob-advanced-sa
  types: [presubmit]
  command: [./prow/proxy-presubmit-release.sh]
  timeout: 4h
- name: release-test
  architectures: [arm64]
  env:
  - name: ARCH_SUFFIX
    value: $(params.arch)
  - name: BUILD_ENVOY_BINARY_ONLY
    value: "1"
  service_account_name: prowjob-advanced-sa
  types: [presubmit]
  command: [./prow/proxy-presubmit-release.sh]
  timeout: 4h
  # TODO: get build-pool for arm
  resources: arm
  node_selector:
    testing: test-pool

- name: release-centos-test
  service_account_name: prowjob-advanced-sa
  types: [presubmit]
  command: [./prow/proxy-presubmit-centos-release.sh]
  image: gcr.io/istio-testing/build-tools-centos:master-a27cd2ac35afa5fcae793c9de1952bdb2458d0bc
  timeout: 4h

- name: check-wasm
  service_account_name: prowjob-advanced-sa
  types: [presubmit]
  command: [entrypoint, ./prow/proxy-presubmit-wasm.sh]
  requirements: [docker]
  timeout: 4h

- name: release
  service_account_name: prowjob-advanced-sa
  types: [postsubmit]
  command: [entrypoint, ./prow/proxy-postsubmit.sh]
  requirements: [docker]
  timeout: 4h
- name: release
  architectures: [arm64]
  env:
  - name: ARCH_SUFFIX
    value: $(params.arch)
  - name: BUILD_ENVOY_BINARY_ONLY
    value: "1"
  service_account_name: prowjob-advanced-sa
  types: [postsubmit]
  command: [entrypoint, ./prow/proxy-postsubmit.sh]
  requirements: [docker]
  timeout: 4h
  # TODO: get build-pool for arm
  resources: arm
  node_selector:
    testing: test-pool

- name: release-centos
  service_account_name: prowjob-advanced-sa
  types: [postsubmit]
  command: [./prow/proxy-postsubmit-centos.sh]
  image: gcr.io/istio-testing/build-tools-centos:master-a27cd2ac35afa5fcae793c9de1952bdb2458d0bc
  timeout: 4h

- name: update-istio
  types: [postsubmit]
  command:
  - ../test-infra/tools/automator/automator.sh
  - --org=istio
  - --repo=istio
  - "--title=Automator: update proxy@$AUTOMATOR_SRC_BRANCH in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH"
  - --labels=auto-merge,release-notes-none
  - --modifier=update_proxy_dep
  - --token-path=/etc/github-token/oauth
  - --git-exclude=^common/
  - --cmd=bin/update_proxy.sh $AUTOMATOR_SHA
  requirements: [github]
  repos: [istio/test-infra@master]
  image: gcr.io/istio-testing/build-tools:master-a27cd2ac35afa5fcae793c9de1952bdb2458d0bc
  timeout: 4h

- name: update-proxy
  types: [periodic]
  interval: 24h
  command:
  - ../test-infra/tools/automator/automator.sh
  - --org=istio
  - --repo=proxy
  - "--title=Automator: update envoy@$AUTOMATOR_SRC_BRANCH in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH"
  - --labels=auto-merge
  - --modifier=update_envoy_dep
  - --token-path=/etc/github-token/oauth
  - --cmd=UPDATE_BRANCH=main scripts/update_envoy.sh
  requirements: [github]
  repos: [istio/test-infra@master]
  image: gcr.io/istio-testing/build-tools:master-a27cd2ac35afa5fcae793c9de1952bdb2458d0bc
  timeout: 4h

resources_presets:
  default:
    requests:
      memory: "100G"
      cpu: "30"
    limits:
      memory: "240G"
      cpu: "64"
  # Currently our ARM nodes are tiny while we try to get more capacity
  arm:
    requests:
      memory: "16G"
      cpu: "4"
