org: istio
repo: release-builder
support_release_branching: true
image: gcr.io/istio-testing/build-tools:master-2020-11-12T22-29-05

jobs:
  - name: lint
    command: [make, lint]

  - name: test
    command: [make, test]

  - name: gencheck
    command: [make, gen-check]

  - name: dry-run
    command: [entrypoint, test/publish.sh]
    requirements: [gcp, docker]
    resources: build
    regex: '\.go$|\.sh$'

  - name: build-warning
    types: [presubmit]
    regex: '^release/trigger-build$'
    command: [release/build-warning.sh]
    modifiers: [optional]

  - name: publish-warning
    types: [presubmit]
    regex: '^release/trigger-publish$'
    command: [release/publish-warning.sh]
    modifiers: [optional]

  - name: build-release
    types: [postsubmit]
    regex: '^release/trigger-build$'
    command: [entrypoint, release/build.sh]
    requirements: [release, docker]
    resources: build

  - name: publish-release
    types: [postsubmit]
    regex: '^release/trigger-publish$'
    command: [entrypoint, release/publish.sh]
    requirements: [release, docker]
    resources: build

resources:
  build:
    requests:
      memory: "3Gi"
      cpu: "5000m"
    limits:
      memory: "24Gi"
      cpu: "8000m"
