org: istio
repo: release-builder
support_release_branching: true
image: gcr.io/istio-testing/build-tools:master-88a79b0889d7cefe8cefd4cd3cf051c626efb2d7

jobs:
  - name: lint
    command: [make, lint]

  - name: test
    command: [make, test]

  - name: gencheck
    command: [make, gen-check]

  - name: dry-run
    service_account_name: prowjob-advanced-sa
    command: [entrypoint, test/publish.sh]
    requirements: [docker]
    resources: build
    regex: '\.go$|\.sh$'

  - name: build-warning
    types: [presubmit]
    regex: '^release/trigger-build$'
    command: [release/build-warning.sh]
    modifiers: [presubmit_optional]

  - name: publish-warning
    types: [presubmit]
    regex: '^release/trigger-publish$'
    command: [release/publish-warning.sh]
    modifiers: [presubmit_optional]

  - name: build-release
    types: [postsubmit]
    regex: '^release/trigger-build$'
    command: [entrypoint, release/build.sh]
    requirements: [release, docker]
    resources: build

  - name: publish-release
    types: [postsubmit]
    regex: '^release/trigger-publish$'
    command: [entrypoint, release/publish.sh]
    requirements: [release, docker]
    resources: build

  - name: build-base-images
    types: [periodic]
    cron: "0 19 * * *"  # every day at 07:00 PM UTC (12:00 PM PST)
    env:
    - name: BUILD_BASE_IMAGES
      value: "true"
    - name: VERSION
      value: "master"
    command: [entrypoint, release/build.sh]
    requirements: [release, docker, github-optional]
    resources: build

resources_presets:
  build:
    requests:
      memory: "3Gi"
      cpu: "5000m"
    limits:
      memory: "24Gi"
      cpu: "8000m"
