org: istio-ecosystem
repo: sail-operator
branches:
  - main

support_release_branching: false
image: gcr.io/istio-testing/build-tools:master-fcd42145fc132acd1e8f607e9e7aca15058e9fb9
jobs:
  - name: unit-tests
    types: [presubmit]
    architectures: [arm64]
    command: [entrypoint, make, -e, "T=-v -count=1", build, test.unit]

  - name: integ-tests
    types: [presubmit]
    architectures: [arm64]
    command: [entrypoint, make, test.integration]

  - name: gencheck
    types: [presubmit]
    command: [make, gen-check]

  - name: lint
    types: [presubmit]
    command: [make, lint]
    resources: lint

  - name: e2e-kind
    types: [presubmit]
    command: [entrypoint, make, test.e2e.kind]
    requirements: [kind]

  - name: e2e-kind-olm
    types: [presubmit]
    command: [entrypoint, make, -e, "OLM=true", test.e2e.kind]
    requirements: [kind]

  - name: e2e-kind-multicluster
    types: [presubmit]
    command: [entrypoint, make, -e, "MULTICLUSTER=true", test.e2e.kind]
    requirements: [kind]

  - name: e2e-kind-dualstack
    types: [presubmit]
    command: [entrypoint, make, -e, "IP_FAMILY=dual", test.e2e.kind]
    requirements: [kind]
    env:
      - name: DOCKER_IN_DOCKER_IPV6_ENABLED
        value: "true"
      - name: IP_FAMILY
        value: "dual"

  - name: scorecard
    types: [presubmit]
    command: [entrypoint, make, test.scorecard]
    requirements: [kind]

resources_presets:
  default:
    requests:
      memory: "3Gi"
      cpu: "5000m"
    limits:
      memory: "24Gi"
      cpu: "5000m"
  lint:
    requests:
      memory: "16Gi"
      cpu: "3000m"
    limits:
      memory: "24Gi"

requirements: [gocache]
