org: istio
repo: tools
support_release_branching: true
image: gcr.io/istio-testing/build-tools:master-2022-01-05T18-52-45

jobs:
  - name: build
    command: [make, build]

  - name: lint
    command: [make, lint]

  - name: test
    command: [make, test]

  - name: gencheck
    command: [make, gen-check]

  - name: benchmark_check
    service_account_name: prowjob-advanced-sa
    disable_release_branching: true
    regex: '^perf/benchmark/'
    types: [presubmit]
    command: [entrypoint, ./perf/benchmark/run_benchmark_job.sh]
    env:
      - name: TRIALRUN
        value: "True"
    modifiers: [presubmit_optional]

  - name: containers
    service_account_name: prowjob-advanced-sa
    types: [postsubmit]
    command:
    - entrypoint
    - ../test-infra/tools/automator/automator.sh
    - --org=istio
    - --repo=common-files
    - "--title=Automator: update build-tools image@$AUTOMATOR_SRC_BRANCH in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH"
    - --labels=release-notes-none
    - --modifier=update_image_version
    - --token-path=/etc/github-token/oauth
    - --script-path=../common-files/bin/create-buildtools-and-update.sh
    resources: build
    regex: 'docker/.+|cmd/.+'
    requirements: [docker, github]
    repos: [istio/test-infra@master,istio/common-files@master]

  - name: containers-test
    service_account_name: prowjob-advanced-sa
    types: [presubmit]
    command: [entrypoint, make, containers-test]
    resources: build
    regex: 'docker/.+|cmd/.+'
    requirements: [docker]

  - name: deploy-perf-dashboard
    service_account_name: prowjob-advanced-sa
    regex: '^perf_dashboard/'
    types: [postsubmit]
    command: [entrypoint, make, -C, perf_dashboard, deploy]
    requirements: [docker]

resources_presets:
  build:
    requests:
      memory: "4Gi"
      cpu: "8000m"
    limits:
      memory: "24Gi"
      cpu: "8000m"
