org: istio
repo: tools
support_release_branching: true
image: gcr.io/istio-testing/build-tools:master-02d0170e96d4ab64de8f736e5e9d8d80dfeffb06

jobs:
  - name: build
    command: [make, build]

  - name: lint
    command: [make, lint]

  - name: test
    command: [make, test]

  - name: gencheck
    command: [make, gen-check]

  - name: benchmark_check
    service_account_name: prowjob-advanced-sa
    disable_release_branching: true
    regex: '^perf/benchmark/'
    types: [presubmit]
    command: [entrypoint, ./perf/benchmark/run_benchmark_job.sh]
    env:
      - name: TRIALRUN
        value: "True"
    modifiers: [presubmit_optional]

  # amd64 build
  - name: containers
    service_account_name: prowjob-advanced-sa
    types: [postsubmit]
    command:
    - entrypoint
    - ../test-infra/tools/automator/automator.sh
    - --org=istio
    - --repo=common-files
    - "--title=Automator: update build-tools image@$AUTOMATOR_SRC_BRANCH in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH"
    - --labels=release-notes-none
    - --modifier=update_image_version
    - --token-path=/etc/github-token/oauth
    - --script-path=../common-files/bin/create-buildtools-and-update.sh
    resources: build
    regex: 'docker/.+|cmd/.+'
    requirements: [docker, github]
    repos: [istio/test-infra@master,istio/common-files@master]
    env:
    # For amd64, publish the manifest for arm64+amd64
    - name: MANIFEST_ARCH
      value: "arm64 amd64"
  # arm64 build
  - name: containers
    service_account_name: prowjob-advanced-sa
    architectures: [arm64]
    types: [postsubmit]
    command:
    - entrypoint
    - make
    - containers
    env:
    # For arm64, we do not generate the manifest; the amd job will handle it
    - name: MANIFEST_ARCH
      value: ""
    resources: build
    regex: 'docker/.+|cmd/.+'
    requirements: [docker]

  - name: containers-test
    service_account_name: prowjob-advanced-sa
    types: [presubmit]
    command: [entrypoint, make, containers-test]
    resources: build
    regex: 'docker/.+|cmd/.+'
    requirements: [docker]
  - name: containers-test
    architectures: [arm64]
    service_account_name: prowjob-advanced-sa
    types: [presubmit]
    command: [entrypoint, make, containers-test]
    resources: build
    regex: 'docker/.+|cmd/.+'
    requirements: [docker]

  - name: deploy-perf-dashboard
    service_account_name: prowjob-advanced-sa
    regex: '^perf_dashboard/'
    types: [postsubmit]
    command: [entrypoint, make, -C, perf_dashboard, deploy]
    requirements: [docker]

resources_presets:
  build:
    requests:
      memory: "4Gi"
      cpu: "8000m"
    limits:
      memory: "24Gi"
      cpu: "8000m"
