org: istio
repo: ztunnel
image: gcr.io/istio-testing/build-tools:master-4bb6b0b504e7f18900c699bae3acaa27a302144b
support_release_branching: true

jobs:
  - name: test
    command: [make, presubmit]
    requirements: [cratescache]

  - name: bench
    command: [./scripts/benchtest.sh]
    modifiers: [presubmit_optional, presubmit_skipped]
    types: [presubmit]
    requirements: [cratescache]

  - name: release
    architectures: [amd64, arm64]
    service_account_name: prowjob-testing-write
    types: [postsubmit]
    command: [make, release]
    requirements: [cratescache]
