org: istio
repo: ztunnel
image: gcr.io/istio-testing/build-tools:master-5781e1080a49891e993bdadec6031d072943d531
support_release_branching: true

jobs:
  - name: test
    command: [make, presubmit]
    requirements: [cratescache]

  - name: release
    architectures: [amd64, arm64]
    service_account_name: prowjob-advanced-sa
    types: [postsubmit]
    command: [make, release]
    requirements: [cratescache]
