---
plank:
  job_url_template: 'https://prow.istio.io/view/gcs/istio-prow{{if eq .Spec.Type "presubmit"}}/pr-logs/pull/{{.Spec.Refs.Org}}_{{.Spec.Refs.Repo}}/{{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}{{else if eq .Spec.Type "batch"}}/pr-logs/pull/batch{{else}}/logs{{end}}/{{.Spec.Job}}/{{.Status.BuildID}}'
  job_url_prefix_config:
    '*': https://prow.istio.io/view/gcs/
    istio-private: https://prow-private.istio.io/view/gcs/
  pod_pending_timeout: 60m
  default_decoration_configs:
    '*':
      timeout: 2h
      grace_period: 15s
      utility_images:
        clonerefs: "gcr.io/k8s-prow/clonerefs:v20200226-8b3bfc8b7"
        initupload: "gcr.io/k8s-prow/initupload:v20200226-8b3bfc8b7"
        entrypoint: "gcr.io/k8s-prow/entrypoint:v20200226-8b3bfc8b7"
        sidecar: "gcr.io/k8s-prow/sidecar:v20200226-8b3bfc8b7"
      gcs_configuration:
        bucket: "istio-prow"
        path_strategy: "explicit"
      gcs_credentials_secret: "service-account"
    istio-private:
      timeout: 2h
      grace_period: 15s
      utility_images:
        clonerefs: "gcr.io/k8s-prow/clonerefs:v20200226-8b3bfc8b7"
        initupload: "gcr.io/k8s-prow/initupload:v20200226-8b3bfc8b7"
        entrypoint: "gcr.io/k8s-prow/entrypoint:v20200226-8b3bfc8b7"
        sidecar: "gcr.io/k8s-prow/sidecar:v20200226-8b3bfc8b7"
      gcs_configuration:
        bucket: "istio-private-build"
        path_strategy: "explicit"
      gcs_credentials_secret: "service-account"
      ssh_key_secrets:
      - ssh-key-secret

sinker:
  resync_period: 1h
  max_prowjob_age: 168h
  max_pod_age: 6h

deck:
  spyglass:
    size_limit: 500000000 # 500MB
    gcs_browser_prefix: https://gcsweb.istio.io/gcs/
    testgrid_config: gs://k8s-testgrid/config
    testgrid_root: https://testgrid.k8s.io/
    viewers:
      "started.json|finished.json":
      - "metadata"
      "build-log.txt":
      - "buildlog"
      "artifacts/junit.*\\.xml":
      - "junit"
      "artifacts/filtered.cov":
      - "coverage"
    announcement: "This page -- spyglass -- is the default viewer for prow.{{if .ArtifactPath}} For now, the deprecated gubernator page spyglass replaces <a href='https://gubernator.k8s.io/build/{{.ArtifactPath}}'>remains available</a>.{{end}}"
  hidden_repos:
  - istio-private

  tide_update_period: 1s
  rerun_auth_config:
    github_users:
    - chxchx
    - cjwagner
    - fejta
    - clarketm
    - chases2
    - Katharine
    - bentheelder
    - michelle192837
    github_team_slugs:
    - org: istio
      slug: maintainers

prowjob_namespace: default
pod_namespace: test-pods
log_level: debug

slack_reporter_configs:
  '*':
    job_types_to_report:
    - postsubmit
    - periodic
    - batch
    job_states_to_report:
    - failure
    - error
    channel: test-failures
    report_template: 'Job *{{.Spec.Job}}* of type *{{.Spec.Type}}* ended with state *{{.Status.State}}*. <{{.Status.URL}}|View logs>'
  istio-private:
    job_types_to_report:
    - postsubmit
    - periodic
    - batch
    job_states_to_report:
    - failure
    - error
    channel: private-test-failures
    report_template: 'Job *{{.Spec.Job}}* of type *{{.Spec.Type}}* ended with state *{{.Status.State}}*. <{{.Status.URL}}|View logs>'

# Report job status for presubmit and postsubmit
github_reporter:
  job_types_to_report:
  - presubmit
  - postsubmit

branch-protection:
  allow_disabled_policies: true
  protect: false
  orgs:
    istio:
      required_status_checks:
        contexts:
        - cla/google
      required_pull_request_reviews: &protection_required_pull_request_reviews
        required_approving_review_count: 1
        require_code_owner_reviews: true
      restrictions: &protection_restrictions
        teams:
        - repo-admins
      repos: &protection_repos
        api:
          required_pull_request_reviews:
            required_approving_review_count: 2
          branches: &blocked_branches
            master:
              protect: true
            release-0.1: &blocking_merge
              required_status_checks:
                contexts:
                - "merges-blocked-needs-admin"
              protect: true
            release-0.2: *blocking_merge
            release-0.3: *blocking_merge
            release-0.4: *blocking_merge
            release-0.5: *blocking_merge
            release-0.6: *blocking_merge
            release-0.7: *blocking_merge
            release-0.8: *blocking_merge
            release-1.0: *blocking_merge
            release-1.1: &release11
              <<: *blocking_merge
              restrictions:
                teams:
                - release-managers-1-1
            release-1.2: &release12
              <<: *blocking_merge
              restrictions:
                teams:
                - release-managers-1-2
            release-1.3: &release13
              protect: true
              restrictions:
                teams:
                - release-managers-1-3
            release-1.4: &release14
              protect: true
              restrictions:
                teams:
                - release-managers-1-4
            release-1.5: &release15
              protect: true
              restrictions:
                teams:
                - release-managers-1-5
        operator:
          branches: *blocked_branches
        istio.io:
          branches: *blocked_branches
          required_status_checks:
            contexts:
            - deploy/netlify
        cni:
          branches: *blocked_branches
        installer:
          branches: *blocked_branches
        pkg:
          branches: *blocked_branches
        cri:
          branches: *blocked_branches
        client-go:
          branches: *blocked_branches
        tools:
          branches: *blocked_branches
        bots:
          branches: *blocked_branches
        gogo-genproto:
          branches: *blocked_branches
        common-files:
          branches: *blocked_branches
        community:
          branches: *blocked_branches
        release-builder:
          branches: *blocked_branches
        istio:
          branches:
            <<: *blocked_branches
            release-1.1:
              <<: *release11
              required_status_checks:
                contexts:
                - "ci/circleci: codecov"
                - "ci/circleci: shellcheck"
                - "ci/circleci: lint"
                - "ci/circleci: test"
                - "ci/circleci: build"
                - "ci/circleci: e2e-pilot-cloudfoundry-v1alpha3-v2"
                - "merges-blocked-needs-admin"
            release-1.2:
              <<: *release12
              required_status_checks:
                contexts:
                - "ci/circleci: codecov"
                - "ci/circleci: shellcheck"
                - "ci/circleci: lint"
                - "ci/circleci: test"
                - "ci/circleci: build"
                - "ci/circleci: e2e-pilot-cloudfoundry-v1alpha3-v2"
                - "merges-blocked-needs-admin"
            release-1.3:
              <<: *release13
            release-1.4:
              <<: *release14
            release-1.5:
              <<: *release15
        proxy:
          branches:
            <<: *blocked_branches
            endpoints-v1.1.x: *blocking_merge
            endpoints-v1.2.x: *blocking_merge
        test-infra:
          branches: *blocked_branches
        envoy:
          branches:
            <<: *blocked_branches
            master:
              protect: false
    istio-releases:
      repos:
        pipeline:
          required_pull_request_reviews: &tide_reviews
            require_code_owner_reviews: false
          restrictions:
          branches:
            krishna-test:
              protect: true
            master:
              protect: true
            release-1.2:
              protect: true
            release-1.3:
              protect: true
            release-1.1:
              protect: true
            release-1.0:
              protect: true
    istio-ecosystem:
      repos:
        authservice:
          required_pull_request_reviews: *tide_reviews
          restrictions:
          branches:
            master:
              protect: true
    istio-private:
      required_pull_request_reviews:
        <<: *protection_required_pull_request_reviews
        require_code_owner_reviews: false
      restrictions: *protection_restrictions
      repos:
        <<: *protection_repos
        istio:
          branches:
            <<: *blocked_branches
            release-1.1: *release11
            release-1.2: *release12
            release-1.3: *release13
            release-1.4: *release14
        proxy:
          required_status_checks:
          branches:
            <<: *blocked_branches
            endpoints-v1.1.x: *blocking_merge
            endpoints-v1.2.x: *blocking_merge
        istio.io:
          required_status_checks:
          branches: *blocked_branches

in_repo_config:
  enabled:
    istio: true

tide:
  queries:
  - repos:
    - istio-ecosystem/authservice
    labels:
    - lgtm
    - approved
    - "cla: yes"
    missingLabels:
    - do-not-merge
    - do-not-merge/hold
    - do-not-merge/work-in-progress
    - needs-rebase
  - repos:
    - istio-releases/pipeline
    missingLabels:
    - do-not-merge
    - do-not-merge/hold
    - do-not-merge/work-in-progress
    - needs-ok-to-test
    - needs-rebase
  - repos:
    - istio/istio
    - istio/envoy
    - istio/proxy
    - istio/operator
    - istio/pkg
    - istio/tools
    - istio/bots
    - istio/api
    - istio/common-files
    - istio/community
    - istio/istio.io
    - istio/gogo-genproto
    - istio/test-infra
    - istio/cni
    - istio/installer
    - istio/cri
    - istio/client-go
    - istio/release-builder
    labels:
    - "cla: yes"
    missingLabels: &istio_tide_missing_labels
    - do-not-merge
    - do-not-merge/hold
    - do-not-merge/work-in-progress
    reviewApprovedRequired: true
  - repos:
    - istio/istio
    - istio/proxy
    - istio/operator
    - istio/pkg
    - istio/tools
    - istio/bots
    - istio/api
    - istio/common-files
    - istio/community
    - istio/istio.io
    - istio/gogo-genproto
    - istio/test-infra
    - istio/cni
    - istio/installer
    - istio/cri
    - istio/client-go
    - istio/release-builder
    labels:
    - "cla: yes"
    - auto-merge
    missingLabels: *istio_tide_missing_labels
    author: istio-testing
    reviewApprovedRequired: false
  - orgs:
    - istio-private
    missingLabels: *istio_tide_missing_labels
    reviewApprovedRequired: true
  merge_method:
    istio: squash
    istio-releases/pipeline: squash
    istio-ecosystem/authservice: squash
    istio-private: squash
  target_url: https://prow.istio.io/tide
  context_options:
    from-branch-protection: true
    skip-unknown-contexts: true
