---
plank:
  job_url_template: 'https://prow.istio.io/view/istio-prow{{if eq .Spec.Type "presubmit"}}/pr-logs/pull/{{.Spec.Refs.Org}}_{{.Spec.Refs.Repo}}/{{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}{{else if eq .Spec.Type "batch"}}/pr-logs/pull/batch{{else}}/logs{{end}}/{{.Spec.Job}}/{{.Status.BuildID}}'
  job_url_prefix_config:
    '*': https://prow.istio.io/view/
    istio-private: https://prow-private.istio.io/view/
  pod_pending_timeout: 15m
  pod_unscheduled_timeout: 30m
  default_decoration_config_entries:
  - config:
      timeout: 2h
      grace_period: 15s
      utility_images:
        clonerefs: "gcr.io/k8s-prow/clonerefs:v20240529-b83934c65"
        initupload: "gcr.io/k8s-prow/initupload:v20240529-b83934c65"
        entrypoint: "gcr.io/k8s-prow/entrypoint:v20240529-b83934c65"
        sidecar: "gcr.io/k8s-prow/sidecar:v20240529-b83934c65"
      gcs_configuration:
        bucket: "istio-prow"
        path_strategy: "explicit"
      blobless_fetch: true
      ssh_host_fingerprints:
        - "github.com ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCj7ndNxQowgcQnjshcLrqPEiiphnt+VTTvDP6mHBL9j1aNUkY4Ue1gvwnGLVlOhGeYrnZaMgRK6+PKCUXaDbC7qtbW8gIkhL7aGCsOr/C56SJMy/BCZfxd1nWzAOxSDPgVsmerOBYfNqltV9/hWCqBywINIR+5dIg6JTJ72pcEpEjcYgXkE2YEFXV1JHnsKgbLWNlhScqb2UmyRkQyytRLtL+38TGxkxCflmO+5Z8CSSNY7GidjMIZ7Q4zMjA2n1nGrlTDkzwDCsw+wqFPGQA179cnfGWOWRVruj16z6XyvxvjJwbz0wQZ75XK5tKSb7FNyeIEs4TT4jk+S4dhPeAUC5y+bDYirYgM4GC7uEnztnZyaVWQ7B381AK4Qdrwt51ZqExKbQpTUNn+EjqoTwvqNj4kqx5QUCI0ThS/YkOxJCXmPUWZbhjpCg56i+2aB6CmK2JGhn57K5mj0MNdBXA4/WnwH6XoPWJzK5Nyu2zB3nAZp+S5hpQs+p1vN1/wsjk="
  - cluster: default
    config:
      gcs_credentials_secret: ""
      default_service_account_name: "prowjob-default-sa"
  - cluster: test-infra-trusted
    config:
      gcs_credentials_secret: ""
      default_service_account_name: "prowjob-default-sa"
  - repo: istio-private
    config:
      gcs_credentials_secret: ""
      default_service_account_name: "prowjob-private"
      gcs_configuration:
        bucket: "istio-prow-private"
        path_strategy: "explicit"
      oauth_token_secret:
        name: github-oauth
        key: token
  - cluster: prow-arm
    config:
      default_service_account_name: "prowjob-default-sa" # Use workload identity
      gcs_credentials_secret: ""                         # rather than service account key secret

sinker:
  resync_period: 1m
  max_prowjob_age: 48h
  max_pod_age: 48h
  terminated_pod_ttl: 30m

deck:
  google_analytics: G-7HJSJ6B5Q6
  spyglass:
    size_limit: 500000000 # 500MB
    gcs_browser_prefix: https://gcsweb.istio.io/gcs/
    testgrid_config: gs://k8s-testgrid/config
    testgrid_root: https://testgrid.k8s.io/
    lenses:
    - lens:
        name: metadata
      required_files:
      - started.json|finished.json
      optional_files:
      - podinfo.json
    - lens:
        name: buildlog
        config:
          highlight_regexes:
            - "timed out"
            - "ERROR:"
            - "(FAIL|Failure \\[)\\b"
            - "panic\\b"
            - "SUSPICIOUS:"
      required_files:
      - build-log.txt
    - lens:
        name: junit
      required_files:
      - artifacts/junit.*\.xml
    - lens:
        name: coverage
      required_files:
      - artifacts/filtered.cov
    - lens:
        name: podinfo
      required_files:
      - podinfo.json
    announcement: "This page -- spyglass -- is the default viewer for prow.{{if .ArtifactPath}} For now, the deprecated gubernator page spyglass replaces <a href='https://gubernator.k8s.io/build/{{.ArtifactPath}}'>remains available</a>.{{end}}"
  hidden_repos:
  - istio-private

  tide_update_period: 10s
  rerun_auth_configs:
    '*':
      github_users:
      - cjwagner
      - fejta
      - clarketm
      - chases2
      - Katharine
      - bentheelder
      - michelle192837
      - chizhg
      github_team_slugs:
      - org: istio
        slug: maintainers
    istio-private:
      github_orgs:
      - istio-private

prowjob_namespace: default
pod_namespace: test-pods
log_level: debug

slack_reporter_configs:
  '*':
    job_types_to_report:
    - postsubmit
    - periodic
    - batch
    job_states_to_report:
    - failure
    - error
    channel: test-failures
    report_template: 'Job *{{.Spec.Job}}* of type *{{.Spec.Type}}* ended with state *{{.Status.State}}*. <{{.Status.URL}}|View logs>'
  istio-private:
    job_types_to_report:
    - postsubmit
    - periodic
    - batch
    job_states_to_report:
    - failure
    - error
    channel: private-test-failures
    report_template: 'Job *{{.Spec.Job}}* of type *{{.Spec.Type}}* ended with state *{{.Status.State}}*. <{{.Status.URL}}|View logs>'

# Report job status for presubmit and postsubmit
github_reporter:
  job_types_to_report:
  - presubmit
  - postsubmit

branch-protection:
  allow_disabled_policies: true
  allow_disabled_job_policies: true
  protect: false
  orgs:
    istio:
      # Enable protection for all repos
      protect: true
      # Every repo requires CLA to pass
      required_status_checks:
        contexts:
        - EasyCLA
      # By default, required 1 approval from a CODEOWNER
      required_pull_request_reviews:
        required_approving_review_count: 1
        require_code_owner_reviews: true
      # Repo admins are allowed to merge directly; typically the robot does all merging.
      restrictions:
        teams:
        - repo-admins
      repos:
        api:
          # As API reviews are sensitive, require 2 approvals
          required_pull_request_reviews:
            required_approving_review_count: 2
          branches: &blocked_branches
            master:
              protect: true
            experimental-dual-stack:
              protect: true
            experimental-ambient:
              protect: true
            release-0.1: &blocking_merge
              required_status_checks:
                contexts:
                - "merges-blocked-needs-admin"
              protect: true
            release-0.2: *blocking_merge
            release-0.3: *blocking_merge
            release-0.4: *blocking_merge
            release-0.5: *blocking_merge
            release-0.6: *blocking_merge
            release-0.7: *blocking_merge
            release-0.8: *blocking_merge
            release-1.0: *blocking_merge
            release-1.1: &release11
              <<: *blocking_merge
              restrictions:
                teams:
                - release-managers-1-1
            release-1.2: &release12
              <<: *blocking_merge
              restrictions:
                teams:
                - release-managers-1-2
            release-1.3: &release13
              protect: true
              restrictions:
                teams:
                - release-managers-1-3
            release-1.4: &release14
              protect: true
              restrictions:
                teams:
                - release-managers-1-4
            release-1.5: &release15
              protect: true
              restrictions:
                teams:
                - release-managers-1-5
            release-1.6: &release16
              protect: true
              restrictions:
                teams:
                - release-managers-1.6
            release-1.7: &release17
              protect: true
              restrictions:
                teams:
                - release-managers-1.7
            release-1.8: &release18
              protect: true
              restrictions:
                teams:
                - release-managers-1.8
            release-1.9: &release19
              protect: true
              restrictions:
                teams:
                - release-managers-1.9
            release-1.10: &release110
              protect: true
              restrictions:
                teams:
                  - release-managers-1.10
            release-1.11: &release111
              protect: true
              restrictions:
                teams:
                  - release-managers-1.11
            release-1.12: &release112
              protect: true
              restrictions:
                teams:
                  - release-managers-1.12
            release-1.13: &release113
              protect: true
              restrictions:
                teams:
                  - release-managers-1.13
            release-1.14: &release114
              protect: true
              restrictions:
                teams:
                  - release-managers-1.14
            release-1.15: &release115
              protect: true
              restrictions:
                teams:
                  - release-managers-1.15
            release-1.16: &release116
              protect: true
              restrictions:
                teams:
                  - release-managers-1.16
            release-1.17: &release117
              protect: true
              restrictions:
                teams:
                  - release-managers-1.17
            release-1.18: &release118
              protect: true
              restrictions:
                teams:
                  - release-managers-1.18
            release-1.19: &release119
              protect: true
              restrictions:
                teams:
                  - release-managers-1.19
            release-1.20: &release120
              protect: true
              restrictions:
                teams:
                  - release-managers-1.20
            release-1.21: &release121
              protect: true
              restrictions:
                teams:
                  - release-managers-1.21
            release-1.22: &release122
              protect: true
              restrictions:
                teams:
                  - release-managers-1.22
        operator:
          branches: *blocked_branches
        istio.io:
          branches: *blocked_branches
        cni:
          branches: *blocked_branches
        installer:
          branches: *blocked_branches
        pkg:
          branches: *blocked_branches
        get-istioctl:
          branches: *blocked_branches
        cri:
          branches: *blocked_branches
        client-go:
          branches: *blocked_branches
        enhancements:
          branches: *blocked_branches
        tools:
          branches: *blocked_branches
        bots:
          branches: *blocked_branches
        gogo-genproto:
          branches: *blocked_branches
        common-files:
          branches: *blocked_branches
        community:
          branches: *blocked_branches
          # Community is sensitive, as merges impact the org. Dismiss stale reviews to avoid unexpected changes post-approval.
          required_pull_request_reviews:
            dismiss_stale_reviews: true
            dismissal_restrictions:
              teams:
              - steering-committee
              - repo-admins 
        release-builder:
          branches: *blocked_branches
        ztunnel:
          branches: *blocked_branches
        istio:
          branches:
            <<: *blocked_branches
            release-1.1:
              <<: *release11
              required_status_checks:
                contexts:
                - "ci/circleci: codecov"
                - "ci/circleci: shellcheck"
                - "ci/circleci: lint"
                - "ci/circleci: test"
                - "ci/circleci: build"
                - "ci/circleci: e2e-pilot-cloudfoundry-v1alpha3-v2"
                - "merges-blocked-needs-admin"
            release-1.2:
              <<: *release12
              required_status_checks:
                contexts:
                - "ci/circleci: codecov"
                - "ci/circleci: shellcheck"
                - "ci/circleci: lint"
                - "ci/circleci: test"
                - "ci/circleci: build"
                - "ci/circleci: e2e-pilot-cloudfoundry-v1alpha3-v2"
                - "merges-blocked-needs-admin"
            release-1.3:
              <<: *release13
            release-1.4:
              <<: *release14
            release-1.5:
              <<: *release15
            release-1.6:
              <<: *release16
            release-1.7:
              <<: *release17
            release-1.8:
              <<: *release18
            release-1.9:
              <<: *release19
            release-1.10:
              <<: *release110
            release-1.11:
              <<: *release111
            release-1.12:
              <<: *release112
            release-1.13:
              <<: *release113
            release-1.14:
              <<: *release114
            release-1.15:
              <<: *release115
            release-1.16:
              <<: *release116
            release-1.17:
              <<: *release117
            release-1.18:
              <<: *release118
            release-1.19:
              <<: *release119
            release-1.20:
              <<: *release120
            release-1.21:
              <<: *release121
            release-1.22:
              <<: *release122
        proxy:
          branches:
            <<: *blocked_branches
            endpoints-v1.1.x: *blocking_merge
            endpoints-v1.2.x: *blocking_merge
        test-infra:
          branches: *blocked_branches
        envoy:
          branches:
            <<: *blocked_branches
            master:
              protect: false
    istio-ecosystem:
      repos:
        authservice:
          required_pull_request_reviews:
            required_approving_review_count: 0
            require_code_owner_reviews: false
          branches:
            main:
              protect: true
              required_pull_request_reviews:
                required_approving_review_count: 1
                require_code_owner_reviews: true
              required_status_checks:
                contexts:
                - ci-checks
            master:
              protect: true
            v0-c++:
              protect: true
        sail-operator:
          required_pull_request_reviews:
            required_approving_review_count: 1
            require_code_owner_reviews: true
          branches:
            main:
              protect: true
        wasm-extensions:
          required_pull_request_reviews:
            required_approving_review_count: 1
            require_code_owner_reviews: true
          branches:
            master:
              protect: true

in_repo_config:
  enabled:
    istio/test-infra: true

tide:
  queries:
  - repos:
    - istio/istio
    - istio/enhancements
    - istio/envoy
    - istio/get-istioctl
    - istio/proxy
    - istio/operator
    - istio/pkg
    - istio/tools
    - istio/bots
    - istio/api
    - istio/common-files
    - istio/community
    - istio/gogo-genproto
    - istio/test-infra
    - istio/cni
    - istio/installer
    - istio/cri
    - istio/client-go
    - istio/release-builder
    - istio/ztunnel
    - istio-ecosystem/sail-operator
    - istio-ecosystem/authservice
    missingLabels: &istio_tide_missing_labels
    - do-not-merge
    - do-not-merge/hold
    - do-not-merge/work-in-progress
    reviewApprovedRequired: true
  - repos:
    - istio/istio
    - istio/proxy
    - istio/operator
    - istio/pkg
    - istio/tools
    - istio/bots
    - istio/api
    - istio/common-files
    - istio/community
    - istio/gogo-genproto
    - istio/test-infra
    - istio/cni
    - istio/installer
    - istio/cri
    - istio/client-go
    - istio/release-builder
    - istio/ztunnel
    - istio-ecosystem/sail-operator
    labels:
    - auto-merge
    missingLabels: *istio_tide_missing_labels
    author: istio-testing
    reviewApprovedRequired: false
  - repos:
    - istio/istio.io
    missingLabels: &istio_tide_missing_labels
    - do-not-merge
    - do-not-merge/hold
    - do-not-merge/work-in-progress
    reviewApprovedRequired: true
  - repos:
    - istio/istio.io
    labels:
    - auto-merge
    missingLabels: *istio_tide_missing_labels
    author: istio-testing
    reviewApprovedRequired: false
  - orgs:
    - istio-private
    missingLabels: *istio_tide_missing_labels
    reviewApprovedRequired: true
  merge_method:
    istio: squash
    istio-ecosystem/authservice: squash
    istio-ecosystem/sail-operator: squash
    istio-private: squash
  target_url: https://prow.istio.io/tide
  blocker_label: tide/merge-blocker
  squash_label: tide/merge-method-squash
  rebase_label: tide/merge-method-rebase
  merge_label: tide/merge-method-merge
  context_options:
    from-branch-protection: true
    skip-unknown-contexts: true
