---
plank:
  job_url_template: 'https://prow.istio.io/view/gcs/istio-prow{{if eq .Spec.Type "presubmit"}}/pr-logs/pull/{{.Spec.Refs.Org}}_{{.Spec.Refs.Repo}}/{{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}{{else if eq .Spec.Type "batch"}}/pr-logs/pull/batch{{else}}/logs{{end}}/{{.Spec.Job}}/{{.Status.BuildID}}'
  job_url_prefix: https://prow.istio.io/view/gcs/
  pod_pending_timeout: 60m
  default_decoration_config:
    # TODO(fejta): use 2h, 15s instead
    timeout: 7200000000000 # 2h
    grace_period: 15000000000 # 15s
    utility_images:
      clonerefs: "gcr.io/k8s-prow/clonerefs:v20190823-26f02d2fe"
      initupload: "gcr.io/k8s-prow/initupload:v20190823-26f02d2fe"
      entrypoint: "gcr.io/k8s-prow/entrypoint:v20190823-26f02d2fe"
      sidecar: "gcr.io/k8s-prow/sidecar:v20190823-26f02d2fe"
    gcs_configuration:
      bucket: "istio-prow"
      path_strategy: "explicit"
    gcs_credentials_secret: "service-account"

sinker:
  resync_period: 1h
  max_prowjob_age: 168h
  max_pod_age: 6h

deck:
  spyglass:
    size_limit: 500000000 # 500MB
    gcs_browser_prefix: https://gcsweb.k8s.io/gcs/
    testgrid_config: gs://k8s-testgrid/config
    testgrid_root: https://testgrid.k8s.io/
    viewers:
      "started.json|finished.json":
      - "metadata"
      "build-log.txt":
      - "buildlog"
      "artifacts/junit.*\\.xml":
      - "junit"
      "artifacts/filtered.cov":
      - "coverage"
    announcement: "This page -- spyglass -- is the default viewer for prow.{{if .ArtifactPath}} For now, the deprecated gubernator page spyglass replaces <a href='https://gubernator.k8s.io/build/{{.ArtifactPath}}'>remains available</a>.{{end}}"

  tide_update_period: 1s
  rerun_auth_config:
    github_users:
    - chxchx
    - cjwagner
    - fejta

prowjob_namespace: default
pod_namespace: test-pods

# Report job status for presubmit and postsubmit
github_reporter:
  job_types_to_report:
  - presubmit
  - postsubmit

blocked_branches: &blocked_branches
  master:
    protect: true
  release-0.1: &blocking_merge
    required_status_checks:
      contexts:
      - "merges-blocked-needs-admin"
    protect: true
  release-0.2: *blocking_merge
  release-0.3: *blocking_merge
  release-0.4: *blocking_merge
  release-0.5: *blocking_merge
  release-0.6: *blocking_merge
  release-0.7: *blocking_merge
  release-0.8: *blocking_merge
  release-1.0: *blocking_merge
  release-1.1: &release11
    <<: *blocking_merge
    restrictions:
      teams:
      - release-managers-1-1
  release-1.2: &release12
    <<: *blocking_merge
    restrictions:
      teams:
      - release-managers-1-2
  release-1.3: &release13
    protect: true
    restrictions:
      teams:
      - release-managers-1-3

branch-protection:
  allow_disabled_policies: true
  protect: false
  orgs:
    istio:
      required_status_checks:
        contexts:
        - cla/google
      required_pull_request_reviews:
        required_approving_review_count: 1
        require_code_owner_reviews: true
      restrictions:
        teams:
          - repo-admins
      repos:
        api:
          required_pull_request_reviews:
            required_approving_review_count: 2
          branches: *blocked_branches
        operator:
          branches: *blocked_branches
        istio.io:
          branches: *blocked_branches
          required_status_checks:
            contexts:
            - deploy/netlify
        cni:
          branches: *blocked_branches
          required_status_checks:
            contexts:
              # TODO(howardjohn): migrate fully to prow
              - "ci/circleci: e2e-dind-ipv6"
        installer:
          branches: *blocked_branches
          required_status_checks:
            contexts:
              - "ci/circleci: build"
              - "ci/circleci: install-demo"
              - "ci/circleci: integration-old-kind"
              - "ci/circleci: integration-presubmit-isolated-namespaces-kind"
              - "ci/circleci: integration-presubmit-one-namespace-kind"
              - "ci/circleci: noauth"
        pkg:
          branches: *blocked_branches
        tools:
          branches: *blocked_branches
        bots:
          branches: *blocked_branches
        gogo-genproto:
          branches: *blocked_branches
        common-files:
          branches: *blocked_branches
        community:
          branches: *blocked_branches
        istio:
          branches:
            <<: *blocked_branches
            collab-galley:
              protect: true
              restrictions:
                teams:
                - istio-hackers
            collab-gce-identity:
              protect: true
            prow-staging:
              protect: true
            release-1.1:
              <<: *release11
              required_status_checks:
                contexts:
                - "ci/circleci: codecov"
                - "ci/circleci: shellcheck"
                - "ci/circleci: lint"
                - "ci/circleci: test"
                - "ci/circleci: build"
                - "ci/circleci: e2e-pilot-cloudfoundry-v1alpha3-v2"
                - "merges-blocked-needs-admin"
            release-1.2:
              <<: *release12
              required_status_checks:
                contexts:
                - "ci/circleci: codecov"
                - "ci/circleci: shellcheck"
                - "ci/circleci: lint"
                - "ci/circleci: test"
                - "ci/circleci: build"
                - "ci/circleci: e2e-pilot-cloudfoundry-v1alpha3-v2"
                - "merges-blocked-needs-admin"
            release-1.3:
              <<: *release13
        proxy:
          required_status_checks:
            contexts:
            - "ci/circleci: build"
            - "ci/circleci: linux_release"
            - "ci/circleci: linux_asan"
            - "ci/circleci: linux_tsan"
            - "ci/circleci: macos"
          branches:
            <<: *blocked_branches
            endpoints-v1.1.x: *blocking_merge
            endpoints-v1.2.x: *blocking_merge
        test-infra:
          branches: *blocked_branches
    istio-releases:
      repos:
        pipeline:
          required_pull_request_reviews: &tide_reviews
            require_code_owner_reviews: false
          restrictions:
          branches:
            krishna-test:
              protect: true
            master:
              protect: true
            release-1.2:
              protect: true
            release-1.3:
              protect: true
            release-1.1:
              protect: true
            release-1.0:
              protect: true
    istio-ecosystem:
      repos:
        authservice:
          required_pull_request_reviews: *tide_reviews
          restrictions:
          branches:
            master:
              protect: true

tide:
  queries:
  - repos:
    - istio-ecosystem/authservice
    labels:
    - lgtm
    - approved
    - "cla: yes"
    missingLabels:
    - do-not-merge
    - do-not-merge/hold
    - do-not-merge/work-in-progress
    - needs-rebase
  - repos:
    - istio-releases/pipeline
    missingLabels:
    - do-not-merge
    - do-not-merge/hold
    - do-not-merge/work-in-progress
    - needs-ok-to-test
    - needs-rebase
  - repos:
    - istio/istio
    - istio/proxy
    - istio/operator
    - istio/pkg
    - istio/tools
    - istio/bots
    - istio/api
    - istio/common-files
    - istio/community
    - istio/istio.io
    - istio/gogo-genproto
    - istio/test-infra
    - istio/cni
    - istio/installer
    labels:
    - "cla: yes"
    missingLabels:
    - do-not-merge
    - do-not-merge/hold
    - do-not-merge/work-in-progress
    reviewApprovedRequired: true
  merge_method:
    istio: squash
    istio-releases/pipeline: squash
    istio-ecosystem/authservice: squash
  target_url: https://prow.istio.io/tide

  context_options:
    from-branch-protection: true
    skip-unknown-contexts: true

presets:
- labels:
    preset-service-account: "true"
  env:
  - name: GOOGLE_APPLICATION_CREDENTIALS
    value: /etc/service-account/service-account.json
  - name: CLOUDSDK_AUTH_CREDENTIAL_FILE_OVERRIDE
    value: /etc/service-account/service-account.json
  volumeMounts:
  - name: service
    mountPath: /etc/service-account
    readOnly: true
  volumes:
  - name: service
    secret:
      secretName: service-account
- labels:
    preset-bazel: "true"
  volumeMounts:
  - name: cache-ssd
    mountPath: /home/bootstrap/.cache
  volumes:
  - name: cache-ssd
    hostPath:
      path: /mnt/disks/ssd0/proxy
- labels:
    preset-release-pipeline: "true"
  env:
  - name: DOCKER_CONFIG
    value: /etc/rel-pipeline-docker-config
  - name: GITHUB_TOKEN_FILE
    value: /etc/github/rel-pipeline-github
  - name: GOOGLE_APPLICATION_CREDENTIALS
    value: /etc/service-account/rel-pipeline-service-account.json
  volumeMounts:
  - name: rel-pipeline-docker-config
    mountPath: /etc/rel-pipeline-docker-config
    readOnly: true
  - name: rel-pipeline-github
    mountPath: /etc/github
    readOnly: true
  - name: rel-pipeline-service-account
    mountPath: /etc/service-account
    readOnly: true
  volumes:
  - name: rel-pipeline-service-account
    secret:
      secretName: rel-pipeline-service-account
  - name: rel-pipeline-github
    secret:
      secretName: rel-pipeline-github
  - name: rel-pipeline-docker-config
    secret:
      secretName: rel-pipeline-docker-config
- labels:
    preset-release-build-test: "true"
  env:
  - name: DOCKER_CONFIG
    value: /etc/rel-pipeline-docker-config
  - name: GITHUB_TOKEN_FILE
    value: /etc/github/rel-pipeline-github
  - name: GOOGLE_APPLICATION_CREDENTIALS
    value: /etc/service-account/service-account.json
  - name: CLOUDSDK_AUTH_CREDENTIAL_FILE_OVERRIDE
    value: /etc/service-account/service-account.json
  volumeMounts:
  - name: rel-pipeline-docker-config
    mountPath: /etc/rel-pipeline-docker-config
    readOnly: true
  - name: rel-pipeline-github
    mountPath: /etc/github
    readOnly: true
  - name: service
    mountPath: /etc/service-account
    readOnly: true
  volumes:
  - name: service
    secret:
      secretName: service-account
  - name: rel-pipeline-docker-config
    secret:
      secretName: rel-pipeline-docker-config
  - name: rel-pipeline-github
    secret:
      secretName: rel-pipeline-github
# Enable GOPROXY by default
- env:
  - name: GOPROXY
    value: "https://proxy.golang.org"
  - name: BUILD_WITH_CONTAINER
    value: "0"
